/*
Error: Undefined mixin 'span'.
        on line 3 of _scss/_molecules/_navbar.scss, in `span'
        from line 3 of _scss/_molecules/_navbar.scss, in `@content'
        from line 14 of /Users/robin/.rvm/gems/ruby-2.1.1/gems/illusion-1.1.0/sass/illusion/_ie.scss, in `respond-min'
        from line 1 of _scss/_molecules/_navbar.scss
        from line 7 of _scss/header.scss

1: @import "illusion/basics";
2: @import "illusion/ie";
3: @import "_misc/variables";
4: @import "_misc/placeholders";
5: @import "_utilities/responsivemenu";
6: @import "_utilities/button--hamburger";
7: @import "_molecules/navbar";
8: @import "_organisms/header";

Backtrace:
_scss/_molecules/_navbar.scss:3:in `span'
_scss/_molecules/_navbar.scss:3:in `@content'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/illusion-1.1.0/sass/illusion/_ie.scss:14:in `respond-min'
_scss/_molecules/_navbar.scss:1
_scss/header.scss:7
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:332:in `block in visit_mixin'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:98:in `with_mixin'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:330:in `visit_mixin'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:79:in `block in with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `block (2 levels) in visit_rule'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `map'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `block in visit_rule'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:412:in `visit_rule'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:79:in `block in with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:365:in `block (3 levels) in visit_content'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:365:in `map'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:365:in `block (2 levels) in visit_content'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:364:in `block in visit_content'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:98:in `with_mixin'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:360:in `visit_content'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:79:in `block in with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:496:in `visit_media'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:79:in `block in with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:283:in `block (2 levels) in visit_if'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:283:in `map'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:283:in `block in visit_if'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:282:in `visit_if'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:79:in `block in with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:286:in `visit_if'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:79:in `block in with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:347:in `block (4 levels) in visit_mixin'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:347:in `map'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:347:in `block (3 levels) in visit_mixin'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:347:in `block (2 levels) in visit_mixin'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:78:in `perform_arguments'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:342:in `block in visit_mixin'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:98:in `with_mixin'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:330:in `visit_mixin'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:79:in `block in with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:309:in `block (2 levels) in visit_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:309:in `map'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:309:in `block in visit_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:88:in `block in with_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:88:in `with_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:306:in `visit_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:79:in `block in with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/exec/sass_scss.rb:375:in `run'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/exec/base.rb:40:in `parse'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/exec/base.rb:19:in `parse!'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/bin/sass:13:in `<top (required)>'
/Users/robin/.rvm/gems/ruby-2.1.1/bin/sass:23:in `load'
/Users/robin/.rvm/gems/ruby-2.1.1/bin/sass:23:in `<main>'
/Users/robin/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/Users/robin/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'span'.\A         on line 3 of _scss/_molecules/_navbar.scss, in `span'\A         from line 3 of _scss/_molecules/_navbar.scss, in `@content'\A         from line 14 of /Users/robin/.rvm/gems/ruby-2.1.1/gems/illusion-1.1.0/sass/illusion/_ie.scss, in `respond-min'\A         from line 1 of _scss/_molecules/_navbar.scss\A         from line 7 of _scss/header.scss\A \A 1: @import \"illusion/basics\";\A 2: @import \"illusion/ie\";\A 3: @import \"_misc/variables\";\A 4: @import \"_misc/placeholders\";\A 5: @import \"_utilities/responsivemenu\";\A 6: @import \"_utilities/button--hamburger\";\A 7: @import \"_molecules/navbar\";\A 8: @import \"_organisms/header\";"; }
