html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/**
 * represents 399px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 400px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 599px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 600px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 767px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 768px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1023px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1024px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1199px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1200px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1439px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1440px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1599px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * represents 1600px based on a 16px body font size
 *
 * @group Breakpoint
 */
/**
 * The base font size for your project
 *
 * @group setup
 */
/**
 * A standard 1.5em baseline
 *
 * @group setup
 */
/**
 * A standard 1.5em spacing
 *
 * @group setup
 */
/**
 * Mixin for setting columns with vendor prefixes
 *
 * @param {number} $count - The amount of columns
 *
 * @group Basics
 */
/**
 * Mixin for setting clearfix to an element
 *
 * @group Basics
 */
/**
 * Hacky CSS to set inline-block and zoom to IE7
 *
 * @group Basics
 */
/**
 * Set outlines for focus on an element
 *
 * @group Basics
 */
/**
 * Set border-radius to element including vendor prefixes
 *
 * @param {string} $radius - desired border-radius (shorthand)
 *
 * @group Basics
 */
/**
 * Set box-sizing to element including vendor prefixes
 *
 * @param {string} $boxmodel - desired box-model (shorthand)
 *
 * @group Basics
 */
/**
 * Set box-shadow to element including vendor prefixes
 *
 * @param {string} $shadow - desired box-shadow (shorthand)
 *
 * @group Basics
 */
/**
 * Set transition to element including vendor prefixes
 *
 * @param {string} $transition - desired transition (shorthand)
 *
 * @group Basics
 */
/**
 * Set transition-delay to element including vendor prefixes
 *
 * @param {string} $transition-delay - desired transition-delay either in s or ms
 *
 * @example
 * transition-delay(.2s);
 *
 * @example
 * transition-delay(.50ms);
 *
 * @group Basics
 */
/**
 * Set transition-duration to element including vendor prefixes
 *
 * @param {string} $transition-duration - desired transition-duration either in s or ms
 *
 * @example
 * transition-duration(.2s);
 *
 * @example
 * transition-duration(.50ms);
 *
 * @group Basics
 */
/**
 * Set opacity with IE filter
 *
 * @param {number} $opacity - between 0 and 1
 *
 * @example
 * opacity(.2);
 *
 * @group Basics
 */
/**
 * Set font-size, font-weight and line-height in one go
 *
 * @param {string} $size ($base-font-size) - font-size
 * @param {string} $weight (normal) - font-weight
 * @param {string} $lineHeight ($baseLineHeight) - line-height
 *
 * @example
 * font-shorthand(1em, 600, 1.5em);
 *
 * @group Basics
 */
/**
 * Set input[placeholder] color with vendor prefixes
 *
 * @param {string} $color (#999) - The font color
 *
 * @group Basics
 */
/**
 * Visually hide elements while still preserving screen reader visibility
 *
 * @group Basics
 */
/**
 * Visually show elements when they have a visually-hidden style
 *
 * @group Basics
 */
/**
 * Set form styling
 *
 * @param {string} $text-color (#555) - The font color
 * @param {string} $border-color (#ccc) - The border color
 * @param {string} $background-color (#f5f5f5) - The background color
 *
 * @group Basics
 */
/**
 * Reset properties of an element
 *
 * @param {string} $margin (true) - Set to false if you want to exclude
 * @param {string} $padding (true) - Set to false if you want to exclude
 * @param {string} $list-style (true) - Set to false if you want to exclude
 * @param {string} $border (true) - Set to false if you want to exclude
 * @param {string} $background (true) - Set to false if you want to exclude
 *
 * @example scss
 * reset($padding: false);
 * // Will not set padding to 0
 *
 * @example scss
 * reset($padding: false, $background: false);
 * // Will not set padding to '0'
 * // Will not set background to 'none'
 *
 * @group Reset
 */
/**
 * mixin you can extend on for clearfixing elements
 *
 * @group Mixins
 */
/**
 * Returns "@content" in either a media querie or regular
 * based on if $fix-mqs is set and to what number
 *
 * @param {string} $width - The width unit for single media queries
 * @param {string} $type (min) - Either "min", "max" or "range"
 * @param {string} $width--max (false) - The max width when using the "range" type
 *
 * @example scss
 * breakpoint(600px) { ... }
 * // will return @media screen and (min-width: 600px) { ... }
 *
 * @example scss
 * breakpoint(800px, max) { ... }
 * // will return @media screen and (max-width: 800px) { ... }
 *
 * @example scss
 * breakpoint(600px, range, 800px) { @content }
 * // will return @media screen and (min-width: 600px) and (max-width: 800px) { ... }
 *
 * @group Breakpoint
 */
/**
 * Returns "@content" based on if $fix-mqs is set and to what number
 *
 * @example scss
 * old-ie { ... }
 *
 * @group Breakpoint
 */
/**
 * Media object
 *
 * @group molecules
 */
.media .media__visual {
  float: left;
  margin-right: 1em; }
  .media .media__visual--right {
    float: right;
    margin-right: 0;
    margin-left: 1em; }
  .media .media__visual img {
    display: block; }
.media_responsive .media__visual, .media_responsive .media__visual--right {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  text-align: center; }
  .media_responsive .media__visual img, .media_responsive .media__visual--right img {
    display: inline-block; }
@media screen and (min-width: 25em) {
  .media_responsive .media__visual {
    float: left;
    margin-right: 1em; }
    .media_responsive .media__visual--right {
      float: right;
      margin-right: 0;
      margin-left: 1em; }
    .media_responsive .media__visual img {
      display: block; }
 }

.media__body {
  overflow: hidden;
  _overflow: visible;
  zoom: 1; }

/**
 * Set box-sizing: border-box to * element (all elements) when included to the project
 *
 * @group setup
 */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.js-enabled:not(.no-responsive-menu) .closed {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important; }

.sticky {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important; }

.bodyoverflowhidden {
  position: relative !important;
  overflow: hidden !important; }

.menuoverflowauto {
  max-height: 100% !important;
  width: 100% !important;
  overflow: auto !important; }

.absolutemenu {
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 9; }

.focused {
  overflow: visible !important; }

/* Extend the accessible hide class to the closed class */
/* Only when JS is enabled since we add the closed class in the markup */
/* And we want the menu to be open when JS is disabled/broken */
/* hide the buttons when closed so they wont show up in tabindex */
button.closed {
  display: none; }

/* The menu itself */
.navigation_container li {
  position: relative;
  /* initially hide all li>ul so we get a small list when JS is disabled */
  /* And show them on active/current items */ }
  .navigation_container li ul {
    display: none; }
  .navigation_container li.active > ul, .navigation_container li.current > ul {
    display: block; }
.navigation_container.initiated li ul {
  display: block; }
.navigation_container ul.closed, .navigation_container ul.fullmenu {
  /* Hide li ul when JS is enabled and screen is big */
  /* And show on hover */ }
  .navigation_container ul.closed li, .navigation_container ul.fullmenu li {
    overflow: hidden; }
  .navigation_container ul.closed li ul, .navigation_container ul.fullmenu li ul {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 9;
    /* Position li>li>ul */ }
    .navigation_container ul.closed li ul li ul, .navigation_container ul.fullmenu li ul li ul {
      left: 100%;
      top: 0; }
  .navigation_container ul.closed li:hover, .navigation_container ul.closed li:focus, .navigation_container ul.fullmenu li:hover, .navigation_container ul.fullmenu li:focus {
    overflow: visible; }

.flag__image > .icon, .service__icon {
  display: block;
  width: 78px;
  height: 78px;
  background: transparent;
  border: 1px solid transparent;
  text-align: center;
  line-height: 78px;
  color: #085DAD;
  font-size: 40px;
  margin: 0 auto;
  border-right: 1px dashed #88D8FD; }

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300; }

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
  line-height: 1.5em;
  color: #333;
  background: #fff; }

body a:focus, body input:focus, body textarea:focus, body select:focus, body button:focus, body label[for]:focus {
  outline: 3px solid #EABF36;
  text-decoration: none; }

address, blockquote, h1, h2, h3, h4, h5, h6, hgroup, ul, ol, dd, p, figure, pre, table, fieldset, hr, .highlight, .excerpt {
  font-style: normal;
  margin-top: 0;
  margin-bottom: 1.5em; }
  address:last-child, blockquote:last-child, h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, hgroup:last-child, ul:last-child, ol:last-child, dd:last-child, p:last-child, figure:last-child, pre:last-child, table:last-child, fieldset:last-child, hr:last-child, .highlight:last-child, .excerpt:last-child {
    margin-bottom: 0; }

hr {
  border: none;
  color: white;
  height: 1px;
  background: #eee;
  margin: 50px 0 40px;
  clear: both; }

strong {
  font-weight: 400; }

blockquote p {
  font-size: 16px; }

.text-small {
  font-size: 85%; }

.text--center {
  text-align: center; }

.nowrap {
  white-space: nowrap; }

.margin-bottom {
  margin-bottom: 1em; }

/* Don't use display: none to hide elements to keep thing accessible */
.accessible-hide, .highlight:before, .highlight:after {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important; }

/* Visually hide stuff but keep it accessible */
/* Don't use display: none to hide elements to keep thing accessible */
.accessible-hide, .highlight:before, .highlight:after {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important; }

/* Negative tabindex make sure you can jump to other areas without visually visible */
/* We are using this to jump to #content area when using the skiplink */
[tabindex="-1"]:focus {
  outline: none !important; }

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px; }

.container--narrow {
  max-width: 700px;
  margin: 0 auto; }

.stack-group__container {
  *zoom: 1; }
  .stack-group__container:before, .stack-group__container:after {
    display: table;
    content: "";
    line-height: 0; }
  .stack-group__container:after {
    clear: both; }

.stack-group {
  margin-bottom: 2.8125em; }
  .stack-group:last-child {
    margin-bottom: 1.40625em; }

.stack-group__header {
  display: block;
  padding: 1.25em 0 0 0;
  margin: 0;
  text-align: center; }

.stack-item__container {
  padding-top: 5.625em; }

.stack-item {
  border-radius: 0.3125em;
  border: 1px solid #DCDCDC;
  text-align: center;
  padding: 1em; }

.stack-item__logo {
  height: 5.625em;
  width: 5.625em;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #DCDCDC;
  margin: -3.75em auto 0 auto;
  text-align: center;
  /* The ghost, nudged to maintain perfect centering */
  /* Credits: http://css-tricks.com/centering-in-the-unknown */ }
  .stack-item__logo:before {
    content: ' ';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /* Adjusts for spacing */ }
  .stack-item__logo img {
    display: inline-block;
    vertical-align: middle;
    width: 50px; }

.stack-item__title {
  color: #085DAD;
  margin: 1.25em; }

.stack-item__description {
  line-height: 1.5em;
  margin: 0 1.25em 1.25em; }

.stack-item__button {
  height: auto;
  background-color: #085DAD;
  border-radius: 0.3125em;
  color: white;
  display: block;
  padding: 0.625em;
  margin: 0 1.25em 0;
  text-decoration: none; }
  .stack-item__button:hover {
    background-color: #0b7ce7;
    color: #fff; }
  .stack-item__button:focus, .stack-item__button:visited {
    color: #fff; }

@media screen and (min-width: 600px) {
  .stack-item__description {
    min-height: 70px; }

  .stack-item--basic .stack-item__description {
    min-height: 100px; }
 }

.group, .latestblogs {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto; }
  .group:before, .group:after, .latestblogs:before, .latestblogs:after {
    display: table;
    content: " ";
    line-height: 0; }
  .group:after, .latestblogs:after {
    clear: both; }

.sponsors li, .builtwith li, .trusted_by li {
  float: left;
  display: block;
  margin-right: 3.287743293%;
  width: 48.3561283535%; }
  .sponsors li:nth-child(n+1), .builtwith li:nth-child(n+1), .trusted_by li:nth-child(n+1) {
    clear: none;
    margin-right: 3.287743293%; }
  .sponsors li:last-child, .builtwith li:last-child, .trusted_by li:last-child {
    margin-right: 0; }
  .sponsors li:nth-child(2n), .builtwith li:nth-child(2n), .trusted_by li:nth-child(2n) {
    margin-right: 0; }
  .sponsors li:nth-child(2n+1), .builtwith li:nth-child(2n+1), .trusted_by li:nth-child(2n+1) {
    clear: left; }

.one-fourth {
  float: left;
  display: block;
  margin-right: 3.287743293%;
  width: 48.3561283535%; }
  .one-fourth:nth-child(n+1) {
    clear: none;
    margin-right: 3.287743293%; }
  .one-fourth:last-child {
    margin-right: 0; }
  .one-fourth:nth-child(2n) {
    margin-right: 0; }
  .one-fourth:nth-child(2n+1) {
    clear: left; }

@media screen and (min-width: 37.5em) {
  .stack-item__container {
    float: left;
    display: block;
    margin-right: 3.287743293%;
    width: 48.3561283535%; }
    .stack-item__container:nth-child(n+1) {
      clear: none;
      margin-right: 3.287743293%; }
    .stack-item__container:last-child {
      margin-right: 0; }
    .stack-item__container:nth-child(2n) {
      margin-right: 0; }
    .stack-item__container:nth-child(2n+1) {
      clear: left; }
 }

@media screen and (min-width: 48em) {
  .one-half {
    float: left;
    display: block;
    margin-right: 3.287743293%;
    width: 48.3561283535%; }
    .one-half:nth-child(n+1) {
      clear: none;
      margin-right: 3.287743293%; }
    .one-half:last-child {
      margin-right: 0; }
    .one-half:nth-child(2n) {
      margin-right: 0; }
    .one-half:nth-child(2n+1) {
      clear: left; }

  .one-third {
    float: left;
    display: block;
    margin-right: 3.287743293%;
    width: 31.1415044713%; }
    .one-third:nth-child(n+1) {
      clear: none;
      margin-right: 3.287743293%; }
    .one-third:last-child {
      margin-right: 0; }
    .one-third:nth-child(3n) {
      margin-right: 0; }
    .one-third:nth-child(3n+1) {
      clear: left; }

  .one-fourth {
    float: left;
    display: block;
    margin-right: 3.287743293%;
    width: 22.5341925302%; }
    .one-fourth:nth-child(n+1) {
      clear: none;
      margin-right: 3.287743293%; }
    .one-fourth:last-child {
      margin-right: 0; }
    .one-fourth:nth-child(4n) {
      margin-right: 0; }
    .one-fourth:nth-child(4n+1) {
      clear: left; }

  .features .media, .framework_features .media {
    float: left;
    display: block;
    margin-right: 3.287743293%;
    width: 48.3561283535%; }
    .features .media:nth-child(n+1), .framework_features .media:nth-child(n+1) {
      clear: none;
      margin-right: 3.287743293%; }
    .features .media:last-child, .framework_features .media:last-child {
      margin-right: 0; }
    .features .media:nth-child(2n), .framework_features .media:nth-child(2n) {
      margin-right: 0; }
    .features .media:nth-child(2n+1), .framework_features .media:nth-child(2n+1) {
      clear: left; }

  .network__contact {
    float: left;
    display: block;
    margin-right: 3.287743293%;
    width: 31.1415044713%; }
    .network__contact:last-child {
      margin-right: 0; }

  .network__partners {
    float: left;
    display: block;
    margin-right: 3.287743293%;
    width: 65.5707522357%; }
    .network__partners:last-child {
      margin-right: 0; }

  .sponsors li, .builtwith li, .trusted_by li {
    float: left;
    display: block;
    margin-right: 3.287743293%;
    width: 22.5341925302%; }
    .sponsors li:nth-child(n+1), .builtwith li:nth-child(n+1), .trusted_by li:nth-child(n+1) {
      clear: none;
      margin-right: 3.287743293%; }
    .sponsors li:last-child, .builtwith li:last-child, .trusted_by li:last-child {
      margin-right: 0; }
    .sponsors li:nth-child(4n), .builtwith li:nth-child(4n), .trusted_by li:nth-child(4n) {
      margin-right: 0; }
    .sponsors li:nth-child(4n+1), .builtwith li:nth-child(4n+1), .trusted_by li:nth-child(4n+1) {
      clear: left; }

  .footer .links_container {
    float: left;
    display: block;
    margin-right: 1.6172855479%;
    width: 74.595678613%; }
    .footer .links_container:last-child {
      margin-right: 0; }
  .footer .copyright {
    float: left;
    display: block;
    margin-right: 1.6172855479%;
    width: 23.787035839%; }
    .footer .copyright:last-child {
      margin-right: 0; }

  .events--past .event {
    float: left;
    display: block;
    margin-right: 3.287743293%;
    width: 48.3561283535%; }
    .events--past .event:nth-child(n+1) {
      clear: none;
      margin-right: 3.287743293%; }
    .events--past .event:last-child {
      margin-right: 0; }
    .events--past .event:nth-child(2n) {
      margin-right: 0; }
    .events--past .event:nth-child(2n+1) {
      clear: left; }

  .jam__item {
    float: left;
    display: block;
    margin-right: 3.287743293%;
    width: 48.3561283535%; }
    .jam__item:nth-child(n+1) {
      clear: none;
      margin-right: 3.287743293%; }
    .jam__item:last-child {
      margin-right: 0; }
    .jam__item:nth-child(2n) {
      margin-right: 0; }
    .jam__item:nth-child(2n+1) {
      clear: left; }

  .stack-item__container, .channel {
    float: left;
    display: block;
    margin-right: 3.287743293%;
    width: 31.1415044713%; }
    .stack-item__container:nth-child(n+1), .channel:nth-child(n+1) {
      clear: none;
      margin-right: 3.287743293%; }
    .stack-item__container:last-child, .channel:last-child {
      margin-right: 0; }
    .stack-item__container:nth-child(3n), .channel:nth-child(3n) {
      margin-right: 0; }
    .stack-item__container:nth-child(3n+1), .channel:nth-child(3n+1) {
      clear: left; }

  .latestblogs .blogpost {
    float: left;
    display: block;
    margin-right: 3.287743293%;
    width: 48.3561283535%; }
    .latestblogs .blogpost:nth-child(n+1) {
      clear: none;
      margin-right: 3.287743293%; }
    .latestblogs .blogpost:last-child {
      margin-right: 0; }
    .latestblogs .blogpost:nth-child(2n) {
      margin-right: 0; }
    .latestblogs .blogpost:nth-child(2n+1) {
      clear: left; }
 }

.highlight {
  background-color: #073642;
  color: #93a1a1;
  padding: 10px;
  margin: 0 0 30px;
  border-radius: 3px; }
  .highlight:before, .highlight:after {
    display: block; }
  .highlight:before {
    content: "Start code example:"; }
  .highlight:after {
    content: "End code example:"; }
  .highlight, .highlight code, .highlight kbd, .highlight pre, .highlight samp {
    font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace; }
  .highlight pre {
    padding: 0;
    margin: 0;
    text-align: left;
    overflow: auto; }
    .highlight pre::selection {
      background: #021014; }
    .highlight pre::-moz-selection {
      background: #021014; }
    .highlight pre code::selection {
      background: #021014; }
    .highlight pre code::-moz-selection {
      background: #021014; }
    .highlight pre span::selection {
      background: #021014; }
    .highlight pre span::-moz-selection {
      background: #021014; }

.highlight .c {
  color: #586e75 !important;
  font-style: italic !important; }

.highlight .cm {
  color: #586e75 !important;
  font-style: italic !important; }

.highlight .cp {
  color: #586e75 !important;
  font-style: italic !important; }

.highlight .c1 {
  color: #586e75 !important;
  font-style: italic !important; }

.highlight .cs {
  color: #586e75 !important;
  font-weight: bold !important;
  font-style: italic !important; }

.highlight .err {
  color: #dc322f !important;
  background: none !important; }

.highlight .k {
  color: #cb4b16 !important; }

.highlight .o {
  color: #93a1a1 !important;
  font-weight: bold !important; }

.highlight .p {
  color: #93a1a1 !important; }

.highlight .ow {
  color: #2aa198 !important;
  font-weight: bold !important; }

.highlight .gd {
  color: #93a1a1 !important;
  background-color: #372c34 !important;
  display: inline-block; }

.highlight .gd .x {
  color: #93a1a1 !important;
  background-color: #4d2d33 !important;
  display: inline-block; }

.highlight .ge {
  color: #93a1a1 !important;
  font-style: italic !important; }

.highlight .gr {
  color: #aa0000; }

.highlight .gh {
  color: #586e75 !important; }

.highlight .gi {
  color: #93a1a1 !important;
  background-color: #1a412b !important;
  display: inline-block; }

.highlight .gi .x {
  color: #93a1a1 !important;
  background-color: #355720 !important;
  display: inline-block; }

.highlight .go {
  color: #888888; }

.highlight .gp {
  color: #555555; }

.highlight .gs {
  color: #93a1a1 !important;
  font-weight: bold !important; }

.highlight .gu {
  color: #6c71c4 !important; }

.highlight .gt {
  color: #aa0000; }

.highlight .kc {
  color: #859900 !important;
  font-weight: bold !important; }

.highlight .kd {
  color: #268bd2 !important; }

.highlight .kp {
  color: #cb4b16 !important;
  font-weight: bold !important; }

.highlight .kr {
  color: #d33682 !important;
  font-weight: bold !important; }

.highlight .kt {
  color: #2aa198 !important; }

.highlight .n {
  color: #268bd2 !important; }

.highlight .na {
  color: #268bd2 !important; }

.highlight .nb {
  color: #859900 !important; }

.highlight .nc {
  color: #d33682 !important; }

.highlight .no {
  color: #b58900 !important; }

.highlight .ni {
  color: #800080; }

.highlight .nl {
  color: #859900 !important; }

.highlight .ne {
  color: #268bd2 !important;
  font-weight: bold !important; }

.highlight .nf {
  color: #268bd2 !important;
  font-weight: bold !important; }

.highlight .nn {
  color: #b58900 !important; }

.highlight .nt {
  color: #268bd2 !important;
  font-weight: bold !important; }

.highlight .nx {
  color: #b58900 !important; }

.highlight .bp {
  color: #999999; }

.highlight .vc {
  color: #008080; }

.highlight .vg {
  color: #268bd2 !important; }

.highlight .vi {
  color: #268bd2 !important; }

.highlight .nv {
  color: #268bd2 !important; }

.highlight .w {
  color: #bbbbbb; }

.highlight .mf {
  color: #2aa198 !important; }

.highlight .m {
  color: #2aa198 !important; }

.highlight .mh {
  color: #2aa198 !important; }

.highlight .mi {
  color: #2aa198 !important; }

.highlight .mo {
  color: #009999; }

.highlight .s {
  color: #2aa198 !important; }

.highlight .sb {
  color: #d14; }

.highlight .sc {
  color: #d14; }

.highlight .sd {
  color: #2aa198 !important; }

.highlight .s2 {
  color: #2aa198 !important; }

.highlight .se {
  color: #dc322f !important; }

.highlight .sh {
  color: #d14; }

.highlight .si {
  color: #268bd2 !important; }

.highlight .sx {
  color: #d14; }

.highlight .sr {
  color: #2aa198 !important; }

.highlight .s1 {
  color: #2aa198 !important; }

.highlight .ss {
  color: #990073; }

.highlight .il {
  color: #009999; }

.highlight div .gd, .highlight div .gd .x, .highlight div .gi, .highlight div .gi .x {
  display: inline-block;
  width: 100%; }

@font-face {
  font-family: "nooku-font-icon";
  src: url("../fonts/icons/nooku-font-icon.eot");
  src: url("../fonts/icons/nooku-font-icon.eot?#iefix") format("embedded-opentype"), url("../fonts/icons/nooku-font-icon.woff") format("woff"), url("../fonts/icons/nooku-font-icon.ttf") format("truetype"), url("../fonts/icons/nooku-font-icon.svg#nooku-font-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "nooku-font-icon";
    src: url("../fonts/icons/nooku-font-icon.svg#nooku-font-icon") format("svg"); }
 }

.icon-nooku-briefcase, .icon-nooku-code, .icon-nooku-earth, .icon-nooku-extern, .icon-nooku-facebook, .facebook, .icon-nooku-feed, .feed, .icon-nooku-github, .github, .icon-nooku-google, .icon-nooku-joomla, .icon-nooku-linkedin, .icon-nooku-nooku-logo, .icon-nooku-power-cord, .icon-nooku-repeat, .icon-nooku-stack, .icon-nooku-stopwatch, .icon-nooku-twitter, .twitter, .icon-nooku-user4 {
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'nooku-font-icon'; }
  .icon-nooku-briefcase:before, .icon-nooku-code:before, .icon-nooku-earth:before, .icon-nooku-extern:before, .icon-nooku-facebook:before, .facebook:before, .icon-nooku-feed:before, .feed:before, .icon-nooku-github:before, .github:before, .icon-nooku-google:before, .icon-nooku-joomla:before, .icon-nooku-linkedin:before, .icon-nooku-nooku-logo:before, .icon-nooku-power-cord:before, .icon-nooku-repeat:before, .icon-nooku-stack:before, .icon-nooku-stopwatch:before, .icon-nooku-twitter:before, .twitter:before, .icon-nooku-user4:before {
    display: inline-block;
    margin: auto; }

.icon-nooku-briefcase:before {
  content: "\f101"; }

.icon-nooku-code:before {
  content: "\f102"; }

.icon-nooku-earth:before {
  content: "\f103"; }

.icon-nooku-extern:before {
  content: "\f104"; }

.icon-nooku-facebook:before, .facebook:before {
  content: "\f105"; }

.icon-nooku-feed:before, .feed:before {
  content: "\f106"; }

.icon-nooku-github:before, .github:before {
  content: "\f107"; }

.icon-nooku-google:before {
  content: "\f108"; }

.icon-nooku-joomla:before {
  content: "\f109"; }

.icon-nooku-linkedin:before {
  content: "\f10a"; }

.icon-nooku-nooku-logo:before {
  content: "\f10b"; }

.icon-nooku-power-cord:before {
  content: "\f10c"; }

.icon-nooku-repeat:before {
  content: "\f10d"; }

.icon-nooku-stack:before {
  content: "\f10e"; }

.icon-nooku-stopwatch:before {
  content: "\f10f"; }

.icon-nooku-twitter:before, .twitter:before {
  content: "\f110"; }

.icon-nooku-user4:before {
  content: "\f111"; }

.button--hamburger {
  position: absolute;
  top: 19px;
  right: 12px;
  padding: 7px 12px;
  color: #085DAD;
  text-decoration: none;
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif; }
  .button--hamburger:after {
    display: inline-block;
    font-size: 30px;
    content: '\2630';
    vertical-align: text-bottom;
    padding-left: 6px; }
  .button--hamburger.togglebutton--closed {
    border-color: #03294c;
    background: #085DAD;
    color: #fff;
    box-shadow: inset 0px 1px 0px 0px black; }
    .button--hamburger.togglebutton--closed .lines, .button--hamburger.togglebutton--closed .lines:before, .button--hamburger.togglebutton--closed .lines:after {
      background: #fff; }

@media screen and (orientation: landscape), screen and (orientation: portrait) {
  .button--hamburger:hover {
    text-decoration: none; }
 }

@media (max-width: 37.5em) {
  .button--hamburger:after {
    content: "";
    content: none; }

  .button--hamburger {
    cursor: pointer;
    user-select: none; }
    .button--hamburger:hover {
      opacity: 1; }
    .button--hamburger:active {
      transition: 0; }
    .button--hamburger .lines {
      position: relative;
      top: -4px;
      margin-left: 8px; }
      .button--hamburger .lines, .button--hamburger .lines:before, .button--hamburger .lines:after {
        display: inline-block;
        width: 0.9375em;
        height: 0.1339285714em;
        background: #085DAD;
        border-radius: 0.0669642857em;
        transition: 0.2s ease-in-out; }
      .button--hamburger .lines:before, .button--hamburger .lines:after {
        position: absolute;
        left: 0;
        content: '';
        -webkit-transform-origin: 0.0669642857em center;
        transform-origin: 0.0669642857em center; }
      .button--hamburger .lines:before {
        top: 0.2678571429em; }
      .button--hamburger .lines:after {
        top: -0.2678571429em; }
    .button--hamburger.togglebutton--closed .lines {
      background: transparent; }
      .button--hamburger.togglebutton--closed .lines:before, .button--hamburger.togglebutton--closed .lines:after {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        top: 0;
        width: 0.9375em; }
      .button--hamburger.togglebutton--closed .lines:before {
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg); }
      .button--hamburger.togglebutton--closed .lines:after {
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg); }
 }

a {
  text-decoration: underline;
  color: #085DAD; }
  a:visited {
    color: #609; }
  a:hover {
    text-decoration: none; }

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #e5e5e5;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0.5em 1em;
  quotes: "\201C" "\201D" "\2018" "\2019"; }

blockquote:before, blockquote:after {
  color: #085DAD;
  font-size: 3em;
  line-height: 0;
  vertical-align: -0.5em; }

blockquote:before {
  content: open-quote;
  margin-right: 0.25em; }

blockquote:after {
  content: close-quote;
  margin-left: 0.25em; }

blockquote p {
  display: inline;
  font-style: italic; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.25em; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em; }

h1, .h1 {
  font-size: 2em; }

h2, .h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.25em; }

h4, h5, h6 {
  font-size: 1em; }

ul {
  padding-left: 0;
  margin-left: 40px;
  list-style: disc; }

.code_background {
  background: #085DAD;
  background-position: center;
  background-size: cover;
  color: #fff;
  position: relative;
  overflow: hidden; }
  @media screen and (min-width: 0) {
    .code_background {
      background-image: url("../images/layout/background_small.jpg"); } }
  @media screen and (min-width: 64em) {
    .code_background {
      background-image: url("../images/layout/background_medium.jpg"); } }
  @media screen and (min-width: 90em) {
    .code_background {
      background-image: url("../images/layout/background_large.jpg"); } }

.upcoming_background {
  background: #085DAD;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden; }
  @media screen and (min-width: 0) {
    .upcoming_background {
      background-image: url("../images/layout/upcoming_background_small.jpg"); } }
  @media screen and (min-width: 64em) {
    .upcoming_background {
      background-image: url("../images/layout/upcoming_background_medium.jpg"); } }
  @media screen and (min-width: 90em) {
    .upcoming_background {
      background-image: url("../images/layout/upcoming_background_large.jpg"); } }

.button {
  line-height: 1.5em;
  border-radius: 0.25em;
  outline: none;
  margin: 0;
  font-size: 1.125em;
  padding: 0.25em 1em 0.5em;
  background-color: #085DAD;
  color: #FFF;
  box-shadow: inset 0 -2px #03294c;
  border: 1px solid #06437c;
  display: inline-block;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  margin-bottom: 3px;
  text-shadow: none; }
  @media screen and (min-width: 37.5em) {
    .button {
      font-size: 1.25em;
      padding: 0.25em 2em 0.5em; } }
  .button:visited {
    color: #FFF; }
  .button:hover {
    background: #2691f5;
    border: 1px solid #0a77de;
    box-shadow: inset 0 -2px #085DAD; }
  .button:active {
    box-shadow: none;
    margin-top: 3px;
    margin-bottom: 0; }
  .button span {
    font-size: 0.7em;
    line-height: 1.75em; }

.button--alternative {
  background-color: #ffffff;
  color: #085DAD;
  box-shadow: inset 0 -2px #bbb;
  border: 1px solid #ccc; }
  .button--alternative:visited {
    color: #085DAD; }
  .button--alternative:hover {
    background: #b8dbfc;
    border-color: #085DAD;
    box-shadow: inset 0 -2px #57a9f7; }

.button--cta {
  border-radius: 8px;
  background-color: #6AAE46;
  color: #fff;
  box-shadow: inset 0 -3px #548a37;
  border: 3px solid #fff; }
  .button--cta:visited {
    color: #fff; }
  .button--cta:hover {
    background-color: #58913a;
    border: 3px solid #fff;
    box-shadow: inset 0 -3px #497730; }

.button--block {
  display: block; }

.container--content {
  padding: 50px 20px 40px;
  /* remove this for now since this needs more work
  a:not(.thumbnail):not(.blog__header):not(.blog__readmore):not(.button):not([href*="nooku.org"]) {
    display: inline-block;
    margin-right: 1em;
    position: relative;

    &:after {
      speak: none;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
      text-transform: none;
      line-height: 1em;
      font-size: .75em;
      font: {
        style: normal;
        variant: normal;
        weight: normal;
        family: 'nooku-font-icon';
      }
      content:" \f104";
      display: inline-block;
      position: absolute;
      text-decoration: none;
      right: -1.33333em;
      top: 50%;
      margin-top: -.5em;
    }
  }*/ }

.flag {
  display: table;
  width: 100%; }

.flag__image, .flag__body {
  display: table-cell;
  vertical-align: middle; }
  .flag--top .flag__image, .flag--top .flag__body {
    vertical-align: top; }
  .flag--bottom .flag__image, .flag--bottom .flag__body {
    vertical-align: bottom; }

.flag__image > img {
  display: block;
  max-width: none; }
.flag--rev .flag__image {
  padding-right: 0;
  padding-left: 10px; }
.flag__image > .icon {
  line-height: 78px;
  margin: 0 20px 0 0; }

.flag__body {
  width: 100%; }

.facebook, .twitter, .github, .feed {
  display: inline-block;
  width: 20px;
  height: 0;
  padding-top: 20px;
  overflow: hidden;
  position: relative;
  font-size: 20px;
  vertical-align: middle;
  text-align: center; }
  .facebook:before, .twitter:before, .github:before, .feed:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center; }

.service__icon {
  border-right: none;
  border-bottom: 1px dashed #88D8FD; }
  @media screen and (min-width: 25em) {
    .service__icon {
      border-right: 1px dashed #88D8FD;
      border-bottom: none; } }
  @media screen and (min-width: 48em) {
    .service__icon {
      border-right: none;
      border-bottom: 1px dashed #88D8FD; } }

.media {
  margin-bottom: 60px; }

.media__title {
  margin: 0 0 20px 0; }

@media screen and (min-width: 37.5em) {
  .header__brand {
    float: left;
    display: block;
    margin-right: 3.287743293%;
    width: 22.5341925302%; }
    .header__brand:last-child {
      margin-right: 0; }

  .header__navigation {
    float: left;
    display: block;
    margin-right: 3.287743293%;
    width: 74.1780641767%; }
    .header__navigation:last-child {
      margin-right: 0; }
 }

.navigation_container {
  *zoom: 1;
  font-size: 0;
  line-height: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300; }
  .navigation_container:before, .navigation_container:after {
    display: table;
    content: " ";
    line-height: 0; }
  .navigation_container:after {
    clear: both; }
  @media screen and (min-width: 37.5em) {
    .navigation_container {
      text-align: right; } }

.navbar {
  *zoom: 1;
  font-size: 18px;
  line-height: 24px;
  z-index: 2;
  list-style: none;
  display: block;
  padding: 4px 0 0;
  margin: 20px 0 0; }
  .navbar:before, .navbar:after {
    display: table;
    content: " ";
    line-height: 0; }
  .navbar:after {
    clear: both; }
  @media screen and (min-width: 37.5em) {
    .navbar {
      display: inline-block;
      margin: 0; } }

.navbar__item {
  line-height: 24px;
  list-style: none;
  margin: 0;
  padding: 0; }
  @media screen and (min-width: 320px) {
    .navbar__item {
      float: left;
      width: 50%; } }
  @media screen and (min-width: 37.5em) {
    .navbar__item {
      margin: 0 8px;
      font-size: 16px;
      width: auto; } }
  @media screen and (min-width: 48em) {
    .navbar__item {
      font-size: 18px;
      margin: 0 15px; } }
  @media screen and (min-width: 64em) {
    .navbar__item {
      margin: 0 20px; } }
  .navbar__item a {
    color: #333;
    display: inline-block;
    text-decoration: none;
    padding: 6px 0 3px;
    border-bottom: 1px solid transparent; }
    @media screen and (min-width: 37.5em) {
      .navbar__item a {
        border-bottom-width: 3px; } }
    .navbar__item a:visited {
      color: #333; }
    .navbar__item a:hover {
      border-bottom-color: #b8dbfc; }
    .navbar__item a:focus {
      border-bottom-color: transparent; }
    @media screen and (min-width: 37.5em) {
      .navbar__item a {
        display: inline-block; } }
  .navbar__item.active a {
    border-bottom-color: #085DAD; }

.cta_container {
  background: #eee;
  padding: 40px 10px;
  border-top: 1px solid #ddd; }
  .cta_container #fieldEmail {
    width: 300px;
    max-width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 1.2em;
    border-radius: 5px;
    height: 47px;
    line-height: 47px;
    margin: 0;
    display: inline-block;
    position: relative;
    top: 2px; }

.pagination {
  list-style: none; }

.pagination__previous {
  float: left; }

.pagination__next {
  float: right; }

.subtitle {
  text-align: center;
  font-size: 1.125em;
  font-weight: 300;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: -20px; }

.thumbnails {
  margin-bottom: 0;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  padding: 0; }
  .thumbnails li {
    margin-bottom: 10px;
    max-width: 100%; }
  .thumbnails .thumbnail {
    line-height: 112px;
    height: 112px;
    text-align: center;
    display: block;
    border: 1px solid #fff;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
    max-width: 100%; }
    .thumbnails .thumbnail:hover {
      border: 1px solid #b8dbfc; }
    .thumbnails .thumbnail img {
      display: inline-block;
      vertical-align: middle;
      max-height: 70%;
      max-width: 70%; }

.upcoming_event {
  margin: 40px -20px 60px;
  padding: 30px;
  color: #fff;
  text-align: center; }
  @media screen and (min-width: 37.5em) {
    .upcoming_event {
      border-radius: 10px;
      margin-left: auto;
      margin-right: auto; } }
  .upcoming_event h2 {
    color: #fff; }
  .upcoming_event h3 {
    color: #fff;
    font-size: 20px;
    margin-top: -20px; }
  .upcoming_event p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; }
  .upcoming_event .content a, .upcoming_event .content a:visited {
    color: #fff; }

.blogpost {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto; }
  .blogpost p, .blogpost ul {
    font-size: 1.125em;
    line-height: 1.5em; }
  .blogpost h1 {
    margin-bottom: 16px;
    font-size: 1.8em; }
    .blogpost h1 a {
      text-decoration: none;
      color: #085DAD; }
      .blogpost h1 a:hover {
        text-decoration: underline;
        color: #0a77de; }
  .blogpost h2 {
    font-size: 1.4em;
    margin-top: 20px;
    font-weight: 400; }
  .blogpost .post_date {
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 1em;
    margin-top: 0; }
  .blogpost .alignright {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px; }
  .blogpost .alignleft {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px; }

.blog__image {
  border-radius: 5px;
  margin-bottom: 20px; }

.latestblogs .blogpost {
  margin-bottom: 2em; }
  .latestblogs .blogpost:last-child {
    margin-bottom: 0; }
  @media screen and (min-width: 48em) {
    .latestblogs .blogpost {
      margin-bottom: 0; } }

.contact_nooku {
  text-align: center; }

.channels {
  *zoom: 1;
  padding: 30px 0 0; }
  .channels:before, .channels:after {
    display: table;
    content: " ";
    line-height: 0; }
  .channels:after {
    clear: both; }

.channel__item {
  padding: 30px;
  border: 1px solid #ddd;
  display: block;
  transition: all 0.2s ease-in-out;
  margin-bottom: 30px;
  border-radius: 6px; }
.channel__item--email, .channel__item--email:visited {
  background: #fbd1ac;
  color: #000;
  border-color: #f58d32; }
.channel__item--email:hover {
  background: #f58d32;
  border-color: #b85b09;
  color: #fff; }
.channel__item--twitter, .channel__item--twitter:visited {
  background: #c9e5fa;
  color: #000;
  border-color: #55ACEE; }
.channel__item--twitter:hover {
  background: #55ACEE;
  border-color: #147bc9;
  color: #fff; }
.channel__item--facebook, .channel__item--facebook:visited {
  background: #a8b9dd;
  color: #000;
  border-color: #4c70ba; }
.channel__item--facebook:hover {
  background: #3b5998;
  border-color: #1e2e4f;
  color: #fff; }

.jam {
  *zoom: 1; }
  .jam:before, .jam:after {
    display: table;
    content: " ";
    line-height: 0; }
  .jam:after {
    clear: both; }
  .jam .jam__item {
    *zoom: 1;
    margin-bottom: 30px; }
    .jam .jam__item:before, .jam .jam__item:after {
      display: table;
      content: " ";
      line-height: 0; }
    .jam .jam__item:after {
      clear: both; }
  .jam h2 {
    margin-bottom: 30px; }

.order_container {
  overflow: hidden;
  margin-bottom: 20px;
  max-height: 260px; }
  @media screen and (min-width: 490px) {
    .order_container {
      max-height: 260px; } }
  @media screen and (min-width: 515px) {
    .order_container {
      max-height: 230px; } }
  @media screen and (min-width: 620px) {
    .order_container {
      max-height: 230px; } }

.map-container {
  margin: 0 auto;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.teaser--event {
  padding: 30px; }
  .teaser--event h2 {
    margin-top: 10px; }

.sponsors {
  *zoom: 1; }
  .sponsors:before, .sponsors:after {
    display: table;
    content: " ";
    line-height: 0; }
  .sponsors:after {
    clear: both; }

.event_intro {
  max-width: 720px;
  margin: 0 auto; }

.events_container {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1200px; }
  .events_container:before, .events_container:after {
    display: table;
    content: " ";
    line-height: 0; }
  .events_container:after {
    clear: both; }
  .events_container .events {
    *zoom: 1; }
    .events_container .events:before, .events_container .events:after {
      display: table;
      content: " ";
      line-height: 0; }
    .events_container .events:after {
      clear: both; }

.event {
  background: #fff;
  position: relative;
  display: block;
  vertical-align: top;
  margin-bottom: 30px;
  text-align: left;
  border: 1px solid #dfdfdf;
  border-radius: 0 0 10px 10px;
  transition: all 0.2s ease-in-out; }
  @media screen and (min-width: 768px) {
    .event {
      display: inline-block;
      max-width: 525px; } }
  .event .event__header {
    display: table;
    width: 100%; }
  .event .event__title, .event .event__date {
    display: table-cell;
    vertical-align: middle; }
  .event .event__title {
    background: #f6f6f6;
    border: 1px solid #fff; }
  .event h1 {
    font-size: 1.5em;
    line-height: 1.25em;
    margin: 0;
    min-height: 80px;
    padding: 1em;
    color: #085DAD; }
  .event .event__content {
    padding: 1em; }
  .event .event__image {
    width: 100%;
    height: 150px;
    display: block;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    position: relative; }
    .event .event__image:before {
      display: block;
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 1px solid #fff; }
  .event .event__date {
    background: #fff;
    border-left: 1px solid #ddd;
    width: 70px;
    height: 70px;
    vertical-align: top;
    padding: 0; }
    .event .event__date .event__date__year, .event .event__date .event__date__month {
      background: #085DAD;
      color: #fff;
      font-size: 12px;
      padding: 0 5px;
      line-height: 22px;
      border: 1px solid #fff; }
    .event .event__date .event__date__year {
      float: right;
      margin: 1px 1px 0 0;
      border: none; }
    .event .event__date .event__date__day {
      font-size: 30px;
      color: #333;
      font-weight: bold;
      text-align: center;
      line-height: 40px; }

.features {
  *zoom: 1;
  padding: 20px 0; }
  .features:before, .features:after {
    display: table;
    content: " ";
    line-height: 0; }
  .features:after {
    clear: both; }

.footer {
  background: #fff;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px; }
  .footer .container {
    padding: 0; }
    .footer .container .group {
      padding: 1em 0;
      margin: 0 20px;
      color: #06437c;
      border-top: 1px solid #eee; }
    .footer .container a {
      color: #06437c; }

@media screen and (min-width: 48em) {
  .footer {
    text-align: left; }
    .footer .copyright {
      text-align: right; }
 }

.links {
  padding-bottom: 20px; }
  @media screen and (min-width: 48em) {
    .links {
      padding-bottom: 0; } }

.links a {
  margin-right: 20px; }

.heart {
  font-family: Helvetica, Arial, sans-serif;
  color: #EA4437;
  font-size: 1.125em; }

.get-started {
  text-align: center; }
  .get-started .group {
    max-width: 600px;
    margin-bottom: 50px; }

.need_help .one-third {
  margin-bottom: 30px; }

#googlemap_dynamic_container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

#map-canvas {
  width: 100%;
  height: 100%;
  display: block; }
  #map-canvas img {
    max-width: none; }
  #map-canvas button {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-indent: -100em;
    background: transparent;
    border: 3px solid transparent;
    cursor: pointer; }
    #map-canvas button:focus {
      outline: none;
      border: 3px solid #EABF36; }

.framework_features {
  *zoom: 1;
  font-size: 1.0625em;
  padding-top: 20px; }
  .framework_features:before, .framework_features:after {
    display: table;
    content: " ";
    line-height: 0; }
  .framework_features:after {
    clear: both; }

.builtwith {
  *zoom: 1;
  padding: 10px 0; }
  .builtwith:before, .builtwith:after {
    display: table;
    content: " ";
    line-height: 0; }
  .builtwith:after {
    clear: both; }

.header {
  position: relative;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e2e2e2;
  min-height: 81px;
  background: #f6f6f6;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300; }
  @media screen and (min-width: 37.5em) {
    .header .brand {
      text-align: center; }
 }
  .header .brand {
    text-align: left;
    font-size: 0;
    line-height: 0;
    max-height: 40px;
    height: 40px; }
    .header .brand a {
      display: block;
      width: 86px;
      height: 40px; }
      .header .brand a img {
        display: block;
        height: 40px;
        width: 86px; }

.platform:before {
  display: block;
  content: " ";
  height: 16px;
  width: 100%; }
@media screen and (min-width: 37.5em) {
  .platform {
    margin-top: 0; }
    .platform:before {
      display: none; } }

.what_platform {
  max-width: 700px;
  margin: 0 auto; }

.services {
  text-align: center; }
  .services .one-third {
    margin-bottom: 30px; }

.network__contact {
  margin-bottom: 30px; }

.service__icon {
  line-height: 78px;
  margin-bottom: 30px; }

@media screen and (min-width: 25em) and (max-width: 48em) {
  .services {
    text-align: left; }
    .services .one-third {
      margin-bottom: 40px; }

  .service__icon {
    float: left; }

  .service__content {
    margin-left: 100px; }
 }

.skip a {
  background: #EABF36;
  color: #333;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300;
  display: block;
  padding: 10px 16px 12px;
  position: absolute;
  left: -9999px;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 9;
  margin: 0; }
  .skip a:focus {
    left: 0; }

.teaser {
  *zoom: 1;
  padding: 50px 30px 20px;
  border: 1px solid #06437c;
  border-left: 0;
  border-right: 0;
  box-shadow: inset rgba(0, 0, 0, 0.6) 0px 0px 10px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
  .teaser:before, .teaser:after {
    display: table;
    content: " ";
    line-height: 0; }
  .teaser:after {
    clear: both; }
  .teaser h1 {
    font-size: 2.125em;
    margin-bottom: 0; }
  @media screen and (min-width: 37.5em) {
    .teaser h1 {
      font-size: 2.5em; }
 }
  .teaser .button_container {
    margin-bottom: 10px; }
  .teaser .slogan_container {
    margin-bottom: 60px; }
  .teaser .stats__github, .teaser .stats__twitter, .teaser .stats__google {
    display: inline-block;
    margin: 0 20px 10px; }

.teaser__content {
  font-size: 1.25em;
  margin-bottom: 3em;
  line-height: 2em; }
  .teaser__content p {
    margin-bottom: 0; }

.teaser__stats a {
  color: #FFF;
  opacity: 0.75;
  transition: opacity 0.1s ease-in-out; }
  .teaser__stats a:hover {
    opacity: 1; }

.trusted_by {
  background: #085DAD;
  padding: 40px 0 10px;
  text-align: center;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.3); }
  .trusted_by .brands {
    *zoom: 1; }
    .trusted_by .brands:before, .trusted_by .brands:after {
      display: table;
      content: " ";
      line-height: 0; }
    .trusted_by .brands:after {
      clear: both; }
  .trusted_by h2 {
    color: #fff; }
  .trusted_by a {
    display: inline-block;
    max-width: 200px; }
    @media screen and (min-width: 48em) {
      .trusted_by a {
        max-width: 100%; } }
  .trusted_by img {
    opacity: 0.85;
    transition: opacity 0.1s ease-in-out; }
  .trusted_by a:hover img {
    opacity: 1; }
  .trusted_by .thumbnails li {
    padding: 10px 30px 25px; }

.comment {
  margin-top: 2em;
  text-align: center; }
