.button {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;

  color: #ffffff;
  background-color: #5cb85c;
  border-color: 1px solid #4cae4c;

  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;

  text-decoration: none;
}