.button {
  padding: .25em 2em .5em;
  font-size: 1.25em;
  line-height: 1.5em;
  border-radius: .25em;

  background-color: $brand-primary;
  color: $white;

  box-shadow: inset 0 -2px darken($brand-primary, 20%);
  border: 1px solid darken($brand-primary, 10%);

  display: inline-block;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  margin-bottom: 3px;
  text-shadow: none;

  &:visited {
    color: $white;
  }

  &:hover {
    background: lighten($brand-primary, 20%);
    border: 1px solid lighten($brand-primary, 10%);
    box-shadow: inset 0 -2px $brand-primary;
  }

  &:active {
    box-shadow: none;
    margin-top: 3px;
    margin-bottom: 0;
  }
}

.button--alternative {
  background-color: #ffffff;
  color: $brand-primary;
  box-shadow: inset 0 -2px #bbb;
  border: 1px solid #ccc;

  &:visited {
    color: $brand-primary;
  }

  &:hover {
    background: $brand-primary--light;
    border-color: $brand-primary;
    box-shadow: inset 0 -2px lighten($brand-primary, 30%);
  }
}

.button--cta {
  border-radius: 8px;
  background-color: #6AAE46;
  color: #fff;
  box-shadow: inset 0 -3px darken(#6AAE46, 10%);
  border: 4px solid #fff;

  &:visited {
    color: #fff;
  }

  &:hover {
    background-color: darken(#6AAE46, 8%);
    border: 4px solid #fff;
    box-shadow: inset 0 -3px darken(#6AAE46, 15%);
  }
}