.facebook,
.twitter,
.github,
.feed {
  display: inline-block;
  width: 20px;
  height: 0;
  padding-top: $spacing-s;
  overflow: hidden;
  position: relative;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
  }
}

.facebook {
  @extend .icon-nooku-facebook;
}

.twitter {
  @extend .icon-nooku-twitter;
}

.github {
  @extend .icon-nooku-github;
}

.feed {
  @extend .icon-nooku-feed;
}

@mixin icon-color($color)
{
  border-color: lighten($color, 15%) !important; color: $color !important;
}

.icon--red      { @include icon-color($color-red); }
.icon--blue     { @include icon-color($color-blue); }
.icon--green    { @include icon-color($color-green); }
.icon--orange   { @include icon-color($color-orange); }
