.navigation_container {
  text-align: center;
  height: 60px;
}

.navbar {
  margin: 0;
  list-style: none;
  font-size: 1.25em;
  display: inline-block;
  padding: 12px 0;
}

.navbar__item {
  float: left;
  margin: 0 20px;

  a {
    color: #333;
    display: inline-block;
    text-decoration: none;
    padding: 6px 0 3px;
    border-bottom: 3px solid transparent;

    &:visited {
      color: #333;
    }

    &:hover {
      border-bottom-color: #88D8FD;
    }
  }

  &.active {
    a {
      border-bottom-color: #1380b7;
    }
  }
}