.navigation_container {
  font-size: 0;
  line-height: 0;
}

.navbar {
  font-size: 18px;
  line-height: 24px;
  z-index: 2;
  list-style: none;
  display: block;
  padding: 4px 0 0;
  margin: 20px 0 0;

  @include respond-min($breakpoint-alpha) {
    @include column-count(2);
  }

  @include respond-min($breakpoint-beta) {
    @include column-count(1);
    display: inline-block;
    margin: 0;
  }
}

.navbar__item {
  @include respond-min($breakpoint-beta) {
    float: left;
    margin: 0 8px;
    font-size: 16px;
  }

  @include respond-min($breakpoint-charlie) {
    font-size: 18px;
    margin: 0 15px;
  }

  @include respond-min($breakpoint-delta) {
    margin: 0 20px;
  }

  a {
    color: $color-body;
    display: inline-block;
    text-decoration: none;
    padding: 6px 0 3px;
    border-bottom: 1px solid transparent;

    @include respond-min($breakpoint-beta) {
      border-bottom-width: 3px;
    }

    &:visited {
      color: $color-body;
    }

    &:hover {
      border-bottom-color: $brand-primary--light;
    }

    @include respond-min($breakpoint-beta) {
      display: inline-block;
    }
  }

  &.active {
    a {
      border-bottom-color: $brand-primary;
    }
  }
}