.cta_container {
  background: #eee;
  padding: $spacing-l $spacing-xs;
  border-top: 1px solid #ddd;

  #fieldEmail {
    width: 300px;
    max-width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.2em;
    border-radius: 5px;
    height: 47px;
    line-height: 47px;
    margin: 0;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-bottom: 16px;
  }
}