.thumbnails {
  margin-bottom: 0;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  padding:0;

  li {
    margin-bottom: $spacing-xs;
  }

  .thumbnail {
    line-height: 100px;
    height: 112px;
    text-align: center;

    img {
      display: inline-block;
      vertical-align: middle;
      max-height: 80%;
      max-width: 80%;
    }
  }
}