.thumbnails {
  margin-bottom: 0;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  padding:0;

  li {
    margin-bottom: $spacing-xs;
  }

  .thumbnail {
    line-height: 100px;
    height: 112px;
    text-align: center;
    display: block;
    background: #f9f9f9;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    transition: all .2s ease-in-out;

    &:hover {
      border: 1px solid #bbb;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      max-height: 80%;
      max-width: 80%;
    }
  }
}