blockquote {
  background: $color-grey-light;
  border-left: 5px solid $color-grey;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0.5em 1em;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before,
blockquote:after {
  color: $brand-primary;
  font-size: 3em;
  line-height: 0;
  vertical-align: -.5em;
}
blockquote:before {
  content: open-quote;
  margin-right: 0.25em;
}
blockquote:after {
  content: close-quote;
  margin-left: 0.25em;
}
blockquote p {
  display: inline;
  font-style: italic;
  font-size: $font-size-base;
}