@font-face {
  font-family: "<%= fontBaseName %>";
  src:    url("../fonts/icons/<%= fontBaseName %>.eot");
  src:    url("../fonts/icons/<%= fontBaseName %>.eot?#iefix") format("embedded-opentype"),
  url("../fonts/icons/<%= fontBaseName %>.woff") format("woff"),
  url("../fonts/icons/<%= fontBaseName %>.ttf") format("truetype"),
  url("../fonts/icons/<%= fontBaseName %>.svg#<%= fontBaseName %>") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "<%= fontBaseName %>";
    src: url("../fonts/icons/<%= fontBaseName %>.svg#<%= fontBaseName %>") format("svg");
  }
}

/* Font icon pseudo-element base styles */
%icon {
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font: {
    style: normal;
    variant: normal;
    weight: normal;
    family: '<%= fontBaseName %>';
  }
  &:before {
    display: inline-block;
    margin: auto;
  }
}

/* Creating the map */
$icons: (<% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { %>
  <%= glyphs[glyphIdx] %>: "<% if (addLigatures) { %><%= glyphs[glyphIdx] %><% } else { %>\<%= codepoints[glyphIdx] %><% } %>",<% } %>);


/* Creating classnames of all icons */
@each $name, $icon in $icons {
  .<%= classPrefix %>#{$name} {
    @extend %icon;
    &:before {
      content: "#{$icon}";
    }
  }
}

/* For adding icons to elements using CSS pseudo-elements */
@mixin icon-before($icon: false, $styles: false) {
  &:before {
    @if $icon {
      content: "#{map-get($icons, $icon)}";
    }
    @if $styles {
      @extend %icon;
    }
    @content;
  }
}
@mixin icon-after($icon: false, $styles: false) {
  &:after {
    @if $icon {
      content: "#{map-get($icons, $icon)}";
    }
    @if $styles {
      @extend %icon;
    }
    @content;
  }
}
@mixin icon-both($icon: false, $styles: false) {
  &:before,
  &:after {
    @if $icon {
      content: "#{map-get($icons, $icon)}";
    }
    @if $styles {
      @extend %icon;
    }
    @content;
  }
}