@import "bootstrap.less";

@import "../components/font-awesome/less/font-awesome.less";
@FontAwesomePath:   "../components/font-awesome/font";

@import "theme.less";

@import "responsive.less";

/* Landscape phones and down */
@media (max-width: 767px) {
    @import "responsive-small.less";
}



code {
    color: #666;
    font-size: 90%;
    border: 0px none;
}