<!doctype html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}Empty{% endblock %}</title>
        <meta name="description" content="{% block description %}Empty{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <!-- Styles -->
        {{ "default.css" | asset_url | stylesheet_tag }}

        <script type="text/javascript" src="//use.typekit.net/eow5fmw.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-214238-5']);
            _gaq.push(['_setDomainName', '.nooku.org']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    </head>
    <body>
        <div id="wrapper">
        <!-- Include header -->
        {% include "header" %}
        <!-- Content block, child page inject content -->
        {% block content %}{% endblock %}
        <!-- Include footer -->
        {% include "footer" %}
        </div>
    </body>
</html>