body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Less \'..\\components\\font-awesome\\less\\font-awesome.less\' wasn\'t found. \A  \A '; } 
                            
                            body * { 
                            display: none; 
                            } 