.button--hamburger {
  position: absolute;
  top: 19px;
  right: 12px;
  padding: 7px 12px;
  color: $brand-primary;
  text-decoration: none;
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 8px;
  background-color: white;
  font-size: 16px;
  font-family: $base-font;

  &:after {
    display: inline-block;
    font-size: 30px;
    content: '\2630';
    vertical-align: text-bottom;
    padding-left: 6px;
  }

  &.togglebutton--closed {
    border-color: $navy;
    background: $brand-primary;
    color: white;
    box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,1);

    .lines, .lines:before, .lines:after {
      background: white;
    }
  }
}

// Prevent underline on touch devices
@media screen and (orientation: landscape), screen and (orientation: portrait) {
  .button--hamburger:hover {
    text-decoration: none;
  }
}

// Inspired by https://github.com/SaraSoueidan/navicon-transformicons
@media (max-width: $beta) {
  // Remove 'Hamburger Icon' with Unicode
  .button--hamburger:after {
    content: "";
    content: none;
  }

  $transition: .2s ease-in-out; // increase this to see the transformations happen in slow motion
  $button-size: 0.9375em;

  // common to all three-liners
  .button--hamburger {
    cursor: pointer;
    user-select: none;

    &:hover {
      opacity: 1;
    }

    &:active {
      transition: 0;
    }

    // Three-liners
    .lines {
      position: relative;
      top: -4px;
      margin-left: 8px;

      &, &:before, &:after {
        display: inline-block;
        width: $button-size;
        height: $button-size / 7;
        background: $brand-primary;
        border-radius: $button-size / 14;
        transition: $transition;
      }

      &:before, &:after {
        position: absolute;
        left: 0;
        content: '';
        -webkit-transform-origin: $button-size / 14 center;
        transform-origin: $button-size / 14 center;
      }

      &:before {
        top: $button-size / 3.5;
      }

      &:after {
        top: -$button-size / 3.5;
      }
    }

    // Three-lines to x
    &.togglebutton--closed {
      .lines {
        background: transparent;

        &:before, &:after {
          -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
          top: 0;
          width: $button-size;
        }

        &:before {
          -webkit-transform: rotate3d(0, 0, 1, 45deg);
          transform: rotate3d(0, 0, 1, 45deg);
        }

        &:after {
          -webkit-transform: rotate3d(0, 0, 1, -45deg);
          transform: rotate3d(0, 0, 1, -45deg);
        }
      }
    }
  }
}