@font-face {
  font-family: "nooku-font-icon";
  src:    url("../fonts/icons/nooku-font-icon.eot");
  src:    url("../fonts/icons/nooku-font-icon.eot?#iefix") format("embedded-opentype"),
  url("../fonts/icons/nooku-font-icon.woff") format("woff"),
  url("../fonts/icons/nooku-font-icon.ttf") format("truetype"),
  url("../fonts/icons/nooku-font-icon.svg#nooku-font-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "nooku-font-icon";
    src: url("../fonts/icons/nooku-font-icon.svg#nooku-font-icon") format("svg");
  }
}

// Font icon pseudo-element base styles
%icon {
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font: {
    style: normal;
    variant: normal;
    weight: normal;
    family: 'nooku-font-icon';
  }
  &:before {
    display: inline-block;
    margin: auto;
  }
}

// Creating the map
$icons: (
  briefcase: "\f101",
  code: "\f102",
  earth: "\f103",
  extern: "\f104",
  facebook: "\f105",
  feed: "\f106",
  github: "\f107",
  google: "\f108",
  joomla: "\f109",
  linkedin: "\f10a",
  nooku-logo: "\f10b",
  power-cord: "\f10c",
  repeat: "\f10d",
  stack: "\f10e",
  stopwatch: "\f10f",
  twitter: "\f110",
  user4: "\f111",);


// Creating classnames of all icons
@each $name, $icon in $icons {
  .icon-nooku-#{$name} {
    @extend %icon;
    &:before {
      content: "#{$icon}";
    }
  }
}

// For adding icons to elements using CSS pseudo-elements
@mixin icon-before($icon: false, $styles: false) {
  &:before {
    @if $icon {
      content: "#{map-get($icons, $icon)}";
    }
    @if $styles {
      @extend %icon;
    }
    @content;
  }
}
@mixin icon-after($icon: false, $styles: false) {
  &:after {
    @if $icon {
      content: "#{map-get($icons, $icon)}";
    }
    @if $styles {
      @extend %icon;
    }
    @content;
  }
}
@mixin icon-both($icon: false, $styles: false) {
  &:before,
  &:after {
    @if $icon {
      content: "#{map-get($icons, $icon)}";
    }
    @if $styles {
      @extend %icon;
    }
    @content;
  }
}