.code_background {
  background: $brand-primary;
  background-position: center;
  background-size: cover;
  color: white;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 0) { // Don't use breakpoint here
    background-image: url("../images/layout/background_small.jpg");
  }

  @media screen and (min-width: $delta) { // Don't use breakpoint here
    background-image: url("../images/layout/background_medium.jpg");
  }

  @media screen and (min-width: $foxtrot) { // Don't use breakpoint here
    background-image: url("../images/layout/background_large.jpg");
  }
}

.upcoming_background {
  background: $brand-primary;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 0) { // Don't use breakpoint here
    background-image: url("../images/layout/upcoming_background_small.jpg");
  }

  @media screen and (min-width: $delta) { // Don't use breakpoint here
    background-image: url("../images/layout/upcoming_background_medium.jpg");
  }

  @media screen and (min-width: $foxtrot) { // Don't use breakpoint here
    background-image: url("../images/layout/upcoming_background_large.jpg");
  }
}