@include breakpoint($beta) {
  .header__brand {
    @include span-columns( 2 of 12);
  }

  .header__navigation {
    @include span-columns(10 of 12);
  }
}

.navigation_container {
  @include clearfix;
  font-size: 0;
  line-height: 0;
  font-family: $base-font;
  font-weight: $base-font-weight;

  @include breakpoint($beta) {
    text-align: right;
  }
}

.navbar {
  @include clearfix;
  font-size: 18px;
  line-height: 24px;
  z-index: 2;
  list-style: none;
  display: block;
  padding: 4px 0 0;
  margin: 20px 0 0;

  @include breakpoint($beta) {
    display: inline-block;
    margin: 0;
  }
}

.navbar__item {
  line-height: 24px;
  list-style: none;
  margin: 0;
  padding: 0;

  @include breakpoint(320px) {
    float: left;
    width: 50%;
  }

  @include breakpoint($beta) {
    margin: 0 5px;
    font-size: 15px;
    width: auto;
  }

  @include breakpoint($charlie) {
    font-size: 17px;
    margin: 0 10px;
  }

  @include breakpoint($delta) {
    font-size: 18px;
    margin: 0 18px;
  }

  a {
    color: $color-body;
    display: inline-block;
    text-decoration: none;
    padding: 6px 0 3px;
    border-bottom: 1px solid transparent;

    @include breakpoint($beta) {
      border-bottom-width: 3px;
      display: inline-block;
    }

    &:visited {
      color: $color-body;
    }

    &:hover {
      border-bottom-color: $brand-primary--light;
    }

    &:focus {
      border-bottom-color: transparent;
    }
  }

  &.active {
    a {
      border-bottom-color: $brand-primary;
    }
  }
}