.thumbnails {
  margin-bottom: 0;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  padding:0;

  li {
    margin-bottom: $spacing-xs;
    max-width: 100%;
  }

  .thumbnail {
    line-height: 112px;
    height: 112px;
    text-align: center;
    display: block;
    border: 1px solid white;
    border-radius: 6px;
    transition: all .2s ease-in-out;
    max-width: 100%;

    &:hover {
      border: 1px solid $brand-primary--light;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      max-height: 70%;
      max-width: 70%;
    }
  }
}