<div class="footer">
    <div class="container">
        <div class="group">
            <div class="one-half">
                <p class="links">
                    {% for link in site.navigation %}
                    {% if link.position == "footer" %}
                    <a href="{{ link.url }}" class="{{ link.text | downcase }}">{{ link.text }}</a>
                    {% endif %}
                    {% endfor %}
                </p>
            </div>
            <div class="copyright one-half">
                <p>Brought to you with ♥ by <a href="http://www.timble.net">Timble</a>.</p>
            </div>
        </div>
    </div>
</div>
<script src="/js/scripts.js"></script>
<script type="text/javascript">
    responsivemenu.init({
        wrapper: document.querySelector('.header'),
        toggleclass: 'button--hamburger',
        togglecontent: 'menu <span class="lines"></span>',
        sticky: 1
    });
</script>
</body>
</html>