<div class="footer">
    <div class="container">
        <div class="group">
            <div class="one-half">
                <p class="links">
                    {% for link in site.data.pages.footer %}
                    <a href="{{ link.url }}" class="{{ link.text | downcase }}">{{ link.text }}</a>
                    {% endfor %}
                </p>
            </div>
            <div class="copyright one-half">
                <p>Brought to you with ♥ by <a href="http://www.timble.net">Timble</a></p>
            </div>
        </div>
    </div>
</div>
<script src="/js/scripts.js"></script>
<script type="text/javascript">
    responsivemenu.init({
        wrapper: document.querySelector('.header'),
        toggleclass: 'button--hamburger',
        togglecontent: 'menu <span class="lines"></span>',
        sticky: 1
    });

    var header = document.querySelector('.header');

    header.onclick = function() {
        apollo.toggleClass(header, 'header--small');
    }


</script>
</body>
</html>
