<div class="footer">
    <div class="container">
        <div class="group">
            <div class="links_container">
                <p class="links">
                    {% for link in site.data.pages.footer %}
                    <a href="{{ link.url }}" class="{{ link.text | downcase }}">{{ link.text }}</a>
                    {% endfor %}
                </p>
            </div>
            <div class="copyright">
                <p>Brought to you with <span class="heart">♥</span> by <a href="http://www.timble.net">Timble</a></p>
            </div>
        </div>
    </div>
</div>
<script src="/js/scripts.js?{{'now' | date: '%s'}}"></script>
<script type="text/javascript">
    responsivemenu.init({
        wrapper: document.querySelector('.header'),
        toggleclass: 'button--hamburger',
        togglecontent: 'menu <span class="lines"></span>'
    });
</script>
{% if page.extra_footer_markup %}{{page.extra_footer_markup}}{% endif %}
</body>
</html>
