<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if page.title %}{{page.title}}{% else %}{{site.main_title}}{% endif %}</title>

    {% include metadata.html %}

    <link rel="shortcut icon" type="image/ico" href="{{ site.url }}/images/favicon.ico" />
    <link rel="shortcut icon" type="image/png" href="{{ site.url }}/images/xtouch-icon.png" />
    <link rel="apple-touch-icon" type="image/png" href="{{ site.url }}/images/xtouch-icon.png"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css?{{'now' | date: '%s'}}">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-214238-5', 'auto');
        ga('send', 'pageview');

    </script>
</head>

<body class="no-js">
<script type="text/javascript">function hasClass(e,t){return e.className.match(new RegExp("(\\s|^)"+t+"(\\s|$)"))}var el=document.body;var cl="no-js";if(hasClass(el,cl)){var reg=new RegExp("(\\s|^)"+cl+"(\\s|$)");el.className=el.className.replace(reg," js-enabled")}</script>

<div class="skip">
    <div class="container__skip">
        <a href="#content">Skip to main content</a>
    </div>
</div>
<div class="header">
    <div class="container">
        <div class="group">
            <div class="header__brand brand">
                <a href="/"><img src="/images/layout/logo.png" alt="Nooku Logo" /></a>
            </div>
            <div class="header__navigation">
                <div class="navigation_container" role="navigation">
                    <ul class="navbar closed">
                        {% for item in site.data.pages.header %}
                        {% assign current = nil %}
                        {% if page.url contains item.url %}{% assign current = ' active' %}{% endif %}
                        <li class="navbar__item{{ current }}" role="menuitem">
                            <a href="{{ item.url }}">{{ item.text }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
