<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta content="text/html; charset=utf-8" http-equiv="content-type"  />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name=”mobile-web-app-capable” content=”yes” />
<meta name="apple-mobile-web-app-title" content="Nooku">

{% if page.description %}
<meta name="description" content="{{ page.description }}" />
<meta name="twitter:description" content="{{ page.description }}" />
{% elsif page.excerpt %}
<meta name="description" content="{{ page.excerpt | strip_html }}" />
<meta name="twitter:description" content="{{ page.excerpt | strip_html }}" />
{% else %}
<meta name="description" content="{{ site.description }}" />
<meta name="twitter:description" content="{{ site.description }}" />
{% endif %}