<div class="teaser text-center code_background">
    <div class="container container-centered">
        <h1>Create Joomla extensions with less code</h1>
        <p>Open source <strong>extension framework</strong> for Joomla.</p>
        <p>Developed and maintained by passionate developers from all over the world.</p>
        <p><a class="button" href="/get-started">Get started</a></p>
        <p><span class="icon-nooku-github"></span> 13.000+ commits&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="icon-nooku-twitter"></span> 2.500+ followers</p>
    </div>
</div>