<div class="teaser code_background">
    <div class="container">
        <h1>Create Joomla extensions with less code</h1>
        <div class="teaser__content">
            <p>A solid, modern and lean architecture for building Joomla extensions.</p>
        </div>
        <p class="button_container"><a class="button button--alternative" href="/get-started">Get started</a></p>
        <p class="teaser__stats">
            <a href="https://github.com/nooku/nooku-framework"><span class="stats__github"><span class="icon-nooku-github"></span> 4.700+ commits</span></a>
            <a href="https://twitter.com/nooku"><span class="stats__twitter"><span class="icon-nooku-twitter"></span> 2.500+ followers</span></a>
            <a href="http://lists.nooku.org/"><span class="stats__google"><span class="icon-nooku-google"></span> 400+ members</span></a>
        </p>
    </div>
</div>