<div class="teaser code_background">
    <div class="container">
        <h1>Create Joomla extensions with less code</h1>
        <div class="teaser__content">
            <p>Open source <strong>extension framework</strong> for Joomla.</p>
            <p>Developed and maintained by passionate developers from all over the world.</p>
        </div>
        <p class="button_container"><a class="button" href="/get-started">Get started</a></p>
        <p><span class="stats__github"><span class="icon-nooku-github"></span> 13.000+ commits</span><span class="stats__twitter"><span class="icon-nooku-twitter"></span> 2.500+ followers</span></p>
    </div>
</div>