<div class="trusted_by">
    <div class="container">
        <h2 class="text--center">Trusted by</h2>
        <div class="group images">
            <ul class="thumbnails">
                <li class="one-fourth">
                    <a href="http://www.openpolice.be">
                        <img src="/images/brands/police.png" />
                    </a>
                </li>
                <li class="one-fourth">
                    <a href="http://www.beyounic.com">
                        <img src="/images/brands/beyounic.png" />
                    </a>
                </li>
                <li class="one-fourth">
                    <a href="http://www.unilever.com">
                        <img src="/images/brands/unilever.png" />
                    </a>
                </li>
                <li class="one-fourth">
                    <a href="http://www.anahitapolis.com/">
                        <img src="/images/brands/anahitapolis.png" />
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>