<div class="trusted_by">
    <div class="container">
        <h2 class="text--center">Who uses Nooku?</h2>
        <div class="brands">
            <ul class="thumbnails">
                <li>
                    <a href="http://www.openpolice.be">
                        <img src="/images/brands/police.png" />
                    </a>
                </li>
                <li>
                    <a href="http://www.beyounic.com">
                        <img src="/images/brands/beyounic.png" />
                    </a>
                </li>
                <li>
                    <a href="http://www.unilever.com">
                        <img src="/images/brands/unilever.png" />
                    </a>
                </li>
                <li>
                    <a href="http://www.anahitapolis.com/">
                        <img src="/images/brands/anahitapolis.png" />
                    </a>
                </li>
                <li>
                    <a href="http://www.mindk.com/">
                        <img src="/images/brands/mindk.png" />
                    </a>
                </li>
                <li>
                    <a href="http://teemr.com/">
                        <img src="/images/brands/teemr.png" />
                    </a>
                </li>
                <li>
                    <a href="http://www.moyoweb.nl/">
                        <img src="/images/brands/moyoweb.png" />
                    </a>
                </li>
                <li>
                    <a href="http://wizmediateam.com/">
                        <img src="/images/brands/wizmedia.png" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>