.group {
  @include container;
}

.builtwith,
.trusted_by {
  li {
    @include gallery(6 of 12);
  }
}

.one-fourth  { @include gallery(6 of 12); }

@include respond-min($breakpoint-charlie) {
   .one-half   { @include gallery(6 of 12); }
   .one-third  { @include gallery(4 of 12); }
   .one-fourth { @include gallery(3 of 12); }

  .features .media,
  .framework_features .media { @include gallery(6 of 12); }

  .network__contact {
    @include span(first 4 of 12);
  }

  .network__partners {
    @include span(8 of 12);
  }

  .builtwith,
  .trusted_by {
    li {
      @include gallery(3 of 12);
    }
  }

  .footer {
    .links_container {
      @include span(first 15 of 24);
    }
    .copyright {
      @include span(9 of 24);
    }
  }

  .event {
    @include gallery(6 of 12);
  }

  .jam__item {
    @include gallery(6 of 12)
  }
}

@include respond-min($breakpoint-delta) {

}

@include respond-min($breakpoint-echo) {

}