@import "susy";

$gutter-width: 3em;

// Susy grid
$susy: (
  gutters: $gutter-width/4em,
  gutter-position: before
);

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 40px;
}

.container--narrow {
  max-width: 700px;
  margin: 0 auto;
}

.group {
  @include container;
}

.one-fourth  { @include gallery(6 of 12); }

@include respond-min($breakpoint-beta) {
  .header__brand {
    @include span(first 3 of 12);
  }

  .header__navigation {
    @include span(9 of 12);
  }
}

@include respond-min($breakpoint-charlie) {
   .one-half   { @include gallery(6 of 12); }
   .one-third  { @include gallery(4 of 12); }
   .one-fourth { @include gallery(3 of 12); }

  .features .media { @include gallery(6 of 12); }

  .framework_feature {
    @include gallery(6 of 12);
  }
}

@include respond-min($breakpoint-delta) {

}

@include respond-min($breakpoint-echo) {

}