.blog {

  p, ul {
    font-size: 1.125em;
    line-height: 1.77777778em;
  }

  h1 {
    margin-bottom: 16px;
    font-size: 1.8em;

    a {
      text-decoration: none;
      color: $brand-primary;

      &:hover {
        text-decoration: underline;
        color: lighten($brand-primary, 10%);
      }
    }
  }

  h2 {
    font-size: 1.4em;
    margin-top: $spacing-s;
    font-weight: 400;
  }

  h3 {
    font-size: 1.2em;
    margin-bottom: $spacing-xs;
    font-weight: 400;
    margin-top: $spacing-m;
  }

  h3.text-muted {
    margin-bottom: $spacing-m;
    font-size: 1em;
    margin-top: 0;
  }

  img {
    border-radius: 5px;
    height: auto;
  }

  .alignright {
    float: right;
    margin-left: $spacing-s;
    margin-bottom: $spacing-s;
  }

  .alignleft {
    float: left;
    margin-right: $spacing-s;
    margin-bottom: $spacing-s;
  }
}