.blog {

  h1 {
    margin-bottom: 16px;

    a {
      text-decoration: none;
      color: $brand-primary;
    }
  }

  h2 {
    font-size: $font-size-base * 1.8;
    margin-top: $spacing-s;
    text-align: left;
    font-weight: 400;
  }

  h3.text-muted {
    font-size: $font-size-base * 1;
    line-height: 10px;
    margin-bottom: $spacing-m;
  }

  h3 {
    font-size: $font-size-base * 1.4;
    margin-bottom: $spacing-xs;
    font-weight: 400;
    margin-top: $spacing-m;
  }

  h3.text-muted {
    margin-top: 0
  }

  img {
    border-radius: 5px;
    height: auto;
  }

  .btn {
    margin-top: $spacing-xs;
  }

  .page-header {
    margin-bottom: $spacing-xs;
    border-bottom: 0 none;
    text-align: center;

    h1 {
      font-size: $font-size-base * 1.8;
      line-height: $line-height-base * 1.8;
      margin: 0;
    }
  }

  .posts .post {
    a.more-link {
      display: block;
      margin-top: $spacing-m;
      text-align: center;
      padding: $spacing-xs 0;
    }
  }

  .sidebar {
    margin-top: $spacing-m;
  }

  .alignright {
    float: right;
    margin-left: $spacing-s;
    margin-bottom: $spacing-s;
  }

  .alignleft {
    float: left;
    margin-right: $spacing-s;
    margin-bottom: $spacing-s;
  }

  .pagination {
    text-align: center;
    width: 100%;
  }

  .pagination .next, .pagination .previous {
    vertical-align: baseline;
  }
}