.footer {
  background: #096ac5;
  border: 1px solid $navy;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;

  .container {
    color: $white;
    padding: 1em 0;

    a {
      color: $white;
    }
  }
}

@include respond-min($breakpoint-charlie) {
  .footer {
    text-align: left;

    .copyright {
      text-align: right;
    }
  }
}