.footer {
  background: #fff;
  text-align: center;
  padding-left: $spacing-s;
  padding-right: $spacing-s;

  .container {
    padding: 0;

    .group {
      padding: 1em 0;
      margin: 0 $spacing-s;
      color: darken($brand-primary, 10%);
      border-top: 1px solid #eee;
    }

    a {
      color: darken($brand-primary, 10%);
    }
  }
}

@include respond-min($breakpoint-charlie) {
  .footer {
    text-align: left;

    .copyright {
      text-align: right;
    }
  }
}