.header {
  position: relative;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lighten(#c8c8c8, 10%);
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #fff;
  min-height: 101px;

  @include respond-min($breakpoint-beta) {
    .brand {
      text-align: center;
    }
  }

  @include transition(all .2s ease-in-out);

  .brand {
    text-align: left;
    font-size: 0;
    line-height: 0;
    max-height: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    @include transition(all .2s ease-in-out);

    a {
      display: block;
      width: auto;
      height: 60px;
      @include transition(all .2s ease-in-out);

      img {
        display: block;
        height: 60px;
        max-width: none;
        position: absolute;
        top: 0;
        opacity: 1;
        @include transition(all .2s ease-in-out);
      }

      &:before,
      &:after {
        position: absolute;
        top: 60px;
        display: inline-block;
        content: " ";
        opacity: 0;
        @include transition(all .2s ease-in-out);
      }

      &:before {
        content: " ";
        width: 24px;
        height: 24px;
        background: url(../images/layout/avatar.png) no-repeat top left;
        background-size: cover;
        border-radius: 6px;
        margin-right: 8px;
        line-height: 24px;
        vertical-align: middle;
      }

      &:after {
        content: "Nooku";
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        color: #0B395D;
        vertical-align: middle;
        left: 32px;
      }
    }
  }
}

.header--small {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 50px;

  .brand {
    padding: 3px 0;
    max-height: 30px;
    height: 30px;

    a {
      height: 24px;

      img {
        top: -60px;
        opacity: 0;
      }

      &:before,
      &:after {
        top: 3px;
        opacity: 1;
      }
    }
  }
}
