.header {
  position: relative;
  z-index: 1;
  padding-top: $spacing-s;
  padding-bottom: $spacing-s;
  border-bottom: 1px solid lighten(#c8c8c8, 10%);
  min-height: 61px;
  background: #f6f6f6;

  @include respond-min($breakpoint-beta) {
    .brand {
      text-align: center;
    }
  }

  .brand {
    text-align: left;
    font-size: 0;
    line-height: 0;
    max-height: 40px;
    height: 40px;

    a {
      display: inline-block;
      width: auto;
      height: 40px;

      img {
        display: block;
        height: 40px;
        width: 86px;
      }
    }
  }
}