.teaser {
  padding: 40px 0 50px;
  border: 1px solid $navy;
  border-left:0;
  border-right:0;
  box-shadow: inset rgba(0, 0, 0, .6) 0px 0px 10px;
  color: white;
  text-align: center;

  a {
    color: $brand-primary;
  }

  h1 {
    font-size: 2.5em;
  }
}