<div class="section footer">
    <div class="container">
        <div class="row">
            <div class="span6">
                <p>
                    <a href="#"><i class="icon-facebook-sign"></i> Facebook</a> |
                    <a href="#"><i class="icon-twitter-sign"></i> Twitter</a> |
                    <a href="#"><i class="icon-github-sign"></i> Github</a> |
                    <a href="http://feeds.nooku.org/blog"><i class="icon-rss"></i> RSS</a>
                </p>
            </div>
            <div class="copyright span6">
                <p>Copyright 2013 <a href="http://www.timble.net">Timble</a></p>
            </div>
        </div>
    </div>
</div>