 <div class="section header">
    <div class="container">
        <div class="row">
            <div class="brand span6">
                <a href="http://www.nooku.org"><img src="{{ "logo.jpg" | asset_url }}" height="60px" width="123px" /></a>
            </div>
            <div class="span6">
                <div class="navbar pull-right">
                    <div class="navbar-inner">
                        <ul class="nav">
                            <li{% if mixture.url == "index" %} class="active"{% endif %}><a href="/">About</a></li>
                            <li{% if mixture.url == "manifesto" %} class="active"{% endif %}><a href="/manifesto">Manifesto</a></li>
                            <li><a href="http://blog.nooku.org">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section teaser text-center">
    <div class="container">
        <h1>Create web applications with less code</h1>
        <p class="lead">By drastically reducing the amount of code you need to write,
            Nooku helps you to create powerful web applications easily.
            Using the web technologies you know and love: <strong>PHP</strong>, <strong>HTML</strong>,
            <strong>CSS</strong>, and <strong>JavaScript</strong></p>
    </div>
</div>