---
layout: blog
rooturl: blog
title: Nooku Blog
description: Nooku is a project for developers, integrators and hackers alike. Through collaboration we innovate and grow Nooku.
---

<div class="section blog">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <!--
        {% for post in site.posts limit:4 %}
          <h2>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </h2>
          <h3 class="text-muted">
            {{ post.date | date: "%d %B %Y"}} by {{ post.author }}
          </h3>
          <p>
            {{ post.content | truncatewords:65 }}
          </p>
          <a class="btn btn-default btn-sm text-center" href="https://www.assembla.com/code/nooku-framework/git/nodes/v0.9.0?type=tag">Continue reading</a>
          <hr>
        {% endfor %}
        -->
        {% for post in paginator.posts %}
          <h2>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </h2>
          <h3 class="text-muted">
            {{ post.date | date: "%d %B %Y"}} by {{ post.author }}
          </h3>
          <p>
            {{ post.content | truncatewords:65 }}
          </p>
          <a class="btn btn-default btn-sm text-center" href="https://www.assembla.com/code/nooku-framework/git/nodes/v0.9.0?type=tag">Continue reading</a>
          <hr>
        {% endfor %}
        <div class="pagination">
          {% if paginator.previous_page == 1 %}
            <a href="/blog" class="previous btn btn-default btn-xs text-center">Previous</a>
          {% endif %}
          {% if paginator.previous_page > 1 %}
            <a href="/blog/page{{ paginator.previous_page }}" class="previous btn btn-default btn-xs text-center">Previous</a>
          {% endif %}
          <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
          {% if paginator.next_page %}
            <a href="/blog/page{{ paginator.next_page }}" class="next btn btn-default btn-xs text-center">Next</a>
            {% else %}
            <!--<span class="next ">Next</span>-->
          {% endif %}
        </div>
      </div>
      <div class="col-sm-3">    
        <ul>
          {% for post in site.posts %}
            {% capture currentyear %}{{post.date | date: "%B %Y"}}{% endcapture %}
            {% capture currentyearshort %}{{post.date | date: "%Y/%m"}}{% endcapture %}
            {% if currentyear != year %}
              <li><a href="/blog/{{ currentyearshort }}">{{ currentyear }}</a></li>
              {% capture year %}{{currentyear}}{% endcapture %} 
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>