---
layout: blog
title: The Nooku Blog
description: We are blogging since 2008 around Nooku and Joomla extension development in general.
---

{% for post in paginator.posts %}
<article class="blogpost" style="display:none;">
    <header>
        <h1>
            <a class="blog__header" href="{{ post.url }}">{{ post.title }}</a>
        </h1>
        <p class="post_date">
            {{ post.date | date: "%d %B %Y"}} by {{ post.author }}
        </p>
    </header>
    <section>
        {% if post.image %}
        <img class="blog__image" src="{{ post.image }}" alt="" aria-hidden="true" />
        {% endif %}

        <div class="excerpt">
            {{ post.content | split:"<!--more-->" | first }}
        </div>
        <p>
            <a  class="blog__readmore" href="{{ post.url }}">Continue reading...</a>
        </p>
    </section>
</article>
<hr style="display:none;">
{% endfor %}

{% include pagination.html %}

<h2>Archive</h2>
<p>We are blogging since 2008, check <a href="/blog/archive.html">our archive</a> if you wanna dive into the past.</p>
