---
layout: blog
title: The Nooku Blog
description: We are blogging since 2008 around Nooku and Joomla extension development in general.
---

{% for post in paginator.posts %}
<article class="blogpost">
    <header>
        <h1>
            <a class="blog__header" href="{{ post.url }}">{{ post.title }}</a>
        </h1>
        <p class="post_date">
            {{ post.date | date: "%d %B %Y"}} by {{ post.author }}
        </p>
    </header>
    <section>
        {% if post.image %}
        <img class="blog__image" src="{{ post.image }}" alt="" aria-hidden="true" />
        {% endif %}

        <div class="excerpt">
            {{ post.content | split:"<!--more-->" | first }}
        </div>
        <p>
            <a  class="blog__readmore" href="{{ post.url }}">Continue reading...</a>
        </p>
    </section>
</article>
<hr>
{% endfor %}
<ul class="pagination group">
    {% if paginator.previous_page == 1 %}
    <li class="pagination__previous"><a href="/blog">&larr; Newer</a></li>
    {% endif %}
    {% if paginator.previous_page > 1 %}
    <li class="pagination__previous"><a href="/blog/page{{ paginator.previous_page }}">&larr; Newer</a></li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="pagination__next"><a href="/blog/page{{ paginator.next_page }}">Older &rarr;</a></li>
    {% else %}
    <!--<span class="next ">Next</span>-->
    {% endif %}
</ul>

<h2>Archive</h2>
<p>We are blogging since 2008, check <a href="/blog/archive.html">our archive</a> if you wanna dive into the past.</p>
