.contact_nooku {
  text-align: center;
}

.channels {
  @include clearfix;
  padding: $spacing-m 0 0;
}

.channel {
  &__item {
    padding: $spacing-m;
    border: 1px solid $color-grey-dark;
    display: block;
    transition: all .2s ease-in-out;
    margin-bottom: $spacing-m;
    border-radius: 6px;
  }

  &__item--email {
    &, &:visited {
      background: lighten($color-orange,25%);
      color: black;
      border-color: $color-orange;
    }
    &:hover {
      background: $color-orange;
      border-color: darken($color-orange,20%);
      color: white;
    }
  }
  &__item--twitter {
    &, &:visited {
      background: lighten(#55ACEE,25%);
      color: black;
      border-color: #55ACEE;
    }
    &:hover {
      background: #55ACEE;
      border-color: darken(#55ACEE,20%);
      color: white;
    }
  }
  &__item--facebook {
    &, &:visited {
      background: lighten(#3b5998,35%);
      color: black;
      border-color: lighten(#3b5998,10%);
    }
    &:hover {
      background: #3b5998;
      border-color: darken(#3b5998,20%);
      color: white;
    }
  }
}