.header {
  position: relative;
  z-index: 1;
  padding-top: $spacing-s;
  padding-bottom: $spacing-s;
  border-bottom: 1px solid $color-grey-dark;
  min-height: 81px;
  background: $color-grey-light;
  font-family: $base-font;
  font-weight: $base-font-weight;

  @include breakpoint($beta) {
    .brand {
      text-align: center;
    }
  }

  .brand {
    text-align: left;
    font-size: 0;
    line-height: 0;
    max-height: 40px;
    height: 40px;

    a {
      display: block;
      width: 86px;
      height: 40px;

      img {
        display: block;
        height: 40px;
        width: 86px;
      }
    }
  }
}