.skip {
  a {
    background: $focus-color;
    color: $color-body;
    font-family: $base-font;
    font-weight: $base-font-weight;
    display: block;
    padding: 10px 16px 12px;
    position: absolute;
    left: -9999px;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 9;
    margin: 0;

    &:focus {
      left: 0;
    }
  }
}
