.trusted_by {
  background: $brand-primary;
  padding: $spacing-l 0 $spacing-xs;
  text-align: center;
  box-shadow: inset 0 3px 3px rgba(0,0,0,.3);

  .brands {
    @include clearfix;
  }

  h2 {
    color: white;
  }

  a {
    display: inline-block;
    max-width: 200px;

    @include breakpoint($charlie) {
      max-width: 100%;
    }
  }

  img {
    opacity: .85;
    transition: opacity .1s ease-in-out;
  }

  a:hover img {
    opacity: 1;
  }

  .thumbnails li {
    padding: $spacing-xs $spacing-m 25px;
  }
}