@import "bootstrap";
@import "theme";
@import "responsive";

/* Landscape phones and down */
@media (max-width: 767px) {
@import "responsive-small";
}

code {
    color: #666;
    font-size: 90%;
    border: 0px none;
}