%cf {
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}


.text--center {
  text-align: center;
}


.framework_features {
  @extend %cf;
  font-size: 1.125em;
}

.framework_feature {
  margin-top: 20px;
  margin-bottom: 30px;
}

.framework_feature__icon {
  display: block;
  width: 78px;
  height: 78px;
  background: #f2f2f2;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 78px;
  color: $brand-primary;
  border-radius: 78px;
  font-size: 40px;
  margin-right: 20px;
}


.thumbnail {
  display: block;
  background: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 6px;
  @include transition(all .2s ease-in-out);

  &:hover {
    border: 1px solid #aaa;
  }
}

.group.images {
  padding: 10px 0;

  @include respond-min($breakpoint-beta) {
    padding: 30px 0;
  }
}

.links {
  padding-bottom: 16px;

  @include respond-min($breakpoint-beta) {
    padding-bottom: 0;
  }
}

.links a {
  margin-right: 16px;
}

.facebook,
.twitter,
.github {
  display: inline-block;
  width: 20px;
  height: 0;
  padding-top: 20px;
  overflow: hidden;
  position: relative;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
  }
}

.facebook {
  @extend .icon-nooku-facebook;
}

.twitter {
  @extend .icon-nooku-twitter;
}

.github {
  @extend .icon-nooku-github;
}

.platform {
  &:before {
    display: block;
    content: " ";
    height: 16px;
    width: 100%;
  }

  @include respond-min($breakpoint-beta) {
    margin-top: 0;
  }
}

