%cf {
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}


.text--center {
  text-align: center;
}


.framework_features {
  @extend %cf;
  font-size: 1.0625em;
}

.framework_feature {
  margin-top: 40px;
  margin-bottom: 30px;
}

.framework_feature__icon,
.service__icon {
  display: block;
  width: 78px;
  height: 78px;
  background: transparent;
  border: 1px solid #88D8FD;
  text-align: center;
  line-height: 78px;
  color: $brand-primary;
  border-radius: 78px;
  font-size: 40px;
  margin: 0 auto;
}

.framework_feature__icon {
  margin: 0 20px 0 0;
}

.service__icon {
  margin-bottom: 30px;
}


.thumbnail {
  display: block;
  background: #f9f9f9;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  @include transition(all .2s ease-in-out);

  &:hover {
    border: 1px solid #bbb;
  }
}

.builtwith {
  @extend %cf;
  padding: 10px 0;
}

.links {
  padding-bottom: 16px;

  @include respond-min($breakpoint-charlie) {
    padding-bottom: 0;
  }
}

.links a {
  margin-right: 16px;
}

.facebook,
.twitter,
.github {
  display: inline-block;
  width: 20px;
  height: 0;
  padding-top: 20px;
  overflow: hidden;
  position: relative;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
  }
}

.facebook {
  @extend .icon-nooku-facebook;
}

.twitter {
  @extend .icon-nooku-twitter;
}

.github {
  @extend .icon-nooku-github;
}

.platform {
  &:before {
    display: block;
    content: " ";
    height: 16px;
    width: 100%;
  }

  @include respond-min($breakpoint-beta) {
    margin-top: 0;

    &:before {
      display: none;
    }
  }
}



.trusted_by {
  background: $brand-primary;
  padding: 40px 0 10px;
  text-align: center;

  .brands {
    @extend %cf;
  }

  h2 {
    color: #fff;
  }

  a {
    display: inline-block;
    max-width: 200px;
  }

  img {
    opacity: .85;
    transition: all .1s ease-in-out;
  }

  a:hover img {
    opacity: 1;
  }

  .thumbnails li {
    padding: 10px 30px 25px;
  }
}



.features {
  padding-bottom: 30px;
}

.features .media {
  margin-bottom: 30px;
}

.heart {
  font-family: Helvetica, Arial, sans-serif;
  color: #EA4437;
  font-size: 1.125em;
}

.get-started {
  text-align: center;

  .group {
    max-width: 600px;
    margin-bottom: 50px;
  }
}

.services {
  text-align: center;
}