.cta_container {
  background: #eee;
  padding: $spacing-l 0;
  border-top: 1px solid #ddd;

  #fieldEmail {
    width: 100%;
    max-width: 300px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.2em;
    border-radius: 5px;
    height: 47px;
    line-height: 47px;
    margin: 0 10px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-bottom: 16px;
  }
}



.jam {
  @extend %cf;

  .jam__item {
    @extend %cf;
    margin-bottom: $spacing-m;
  }

  h2 {
    margin-bottom: $spacing-m;
  }
}
.order_container {
  max-height: 350px;
  overflow: hidden;
  margin-bottom: $spacing-s;

  @include respond-min(490px) {
    max-height: 330px;
  }

  @include respond-min(515px) {
    max-height: 290px;
  }

  @include respond-min(620px) {
    max-height: 270px;
  }
}

.map-container {
  margin: 0 auto;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.teaser--jam {
  padding: $spacing-m;

  h2 {
    margin-top: $spacing-xs;
  }
}

.jam_intro {
  max-width: 720px;
  margin: 0 auto;
}

.contact_nooku {
  text-align: center;
}

.channels {
  @extend %cf;
  padding: $spacing-m 0 0;
}

.channel {
  &__item {
    padding: $spacing-m;
    border: 1px solid #ddd;
    display: block;
    transition: all .2s ease-in-out;
    margin-bottom: $spacing-m;
  }

  &__item--email {
    &, &:visited {
      color: $color-orange;
    }
    &:hover {
      background: $color-orange;
      color: #fff;
      border-color: darken($color-orange,20%);
    }
  }
  &__item--twitter {
    &, &:visited {
      color: #55ACEE;
    }
    &:hover {
      background: #55ACEE;
      color: #fff;
      border-color: darken(#55ACEE,20%);
    }
  }
  &__item--facebook {
    &, &:visited {
      color: #3b5998;
    }
    &:hover {
      background: #3b5998;
      color: #fff;
      border-color: darken(#3b5998,20%);
    }
  }
}