body {
    font-family: 'Open Sans', sans-serif;
}

hr {
    border:none;
    color:white;
    height:1px;
    background:$gray-lighter;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from($gray-lighter), to(#fff));
    margin: 50px 0 40px;
}

blockquote p {
    font-size: $font-size-base;
}

.text-small {
    font-size: 85%;
}

.section.header,
.section.about,
.section.blog {
  padding-left: 20px;
  padding-right: 20px;
}

.section.header {
  padding-top: 30px;
  padding-bottom: 30px;

  .brand {
    text-align: center;
  }

  .navbar {
    margin-top: 24px;
    margin-bottom: 0px;
  }

  .nav {
    /* Align the items equally in the available space */
    li {
      display: table-cell;
      width: 1%;
      float: none;
      text-align: center;
    }
  }

  .navbar-nav {
    margin: 0;
  }
}

.section.teaser {
    padding: 20px 20px 0;
    margin-bottom: 20px;
    border: 1px solid $navy;
    border-left:0;
    border-right:0;
    background: lighten($brand-primary, 5%);
    @include gradient-radial(lighten($brand-primary, 5%), $brand-primary);
    @include box-shadow(inset rgba(0, 0, 0, .6) 0px 0px 10px);
    color: white;

    a {
        color: $white;
    }

    h1 {
        color: $white;
    }

    .lead {
        max-width: 600px;
        margin: 0 auto;
        font-size: 18px;
    }

    .brought-by {
        text-align: center;
        margin-top: 25px;
        margin-bottom: 30px;
        font-weight: 200;
    }
}

.section.blog {
    h2 { font-size: $font-size-base * 1.8; margin-top: 20px; text-align: left; font-weight:400;}
    h3.text-muted { font-size: $font-size-base * 1; line-height:10px; margin-bottom: 28px; }
    h3 { font-size: $font-size-base * 1.4;  margin-bottom: 10px; font-weight:400; margin-top:30px}
    h3.text-muted {margin-top:0}

    img {
        border-radius: 5px;
        height: auto;
    }

    .btn {
        margin-top:10px;
    }

    .page-header {
        margin-bottom: 10px;
        border-bottom: 0 none;
        text-align: center;
        h1 { font-size: $font-size-base * 1.8; line-height: $line-height-base * 1.8; margin: 0; }
    }

    .posts .post {
        a.more-link {
            display: block;
            margin-top: 30px;
            text-align: center;
            padding: 10px 0;
        }
    }

    .sidebar {
        margin-top: 30px;
    }

    .alignright {
        float: right;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .alignleft {
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .pagination {
        text-align: center;
        width: 100%;
    }
    .pagination .next, .pagination .previous {
        vertical-align: baseline;
    }
}

.section.footer {
    @include gradient-radial(lighten($brand-primary, 5%), $brand-primary);
    @include box-shadow(inset rgba(0, 0, 0, .3) 0px 3px 3px);
    border: 1px solid $navy;
    margin-top: 40px;
    text-align: center;

    .container {
        font-size: 80%;
        color: $white;
        padding-top: 12px;

        a {
            color: $white;
        }
    }
}

/* Customize the navbar links to be fill the entire space of the .navbar */

.navbar .container-fluid {
    padding: 0;
}


.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
    padding:0;
}

.navbar-nav {
    border: 1px solid darken($navbar-default-bg, 12%);
    border-radius: 4px;
    overflow:hidden;
    width: 100%;
}


.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    color: #FFF;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
    background-color: darken($navy, 5%);
    padding:0;
    line-height: 30px;
}
.navbar .nav li:first-child a {
    border-left: 0;
    
}
.navbar .nav li:last-child a {
    border-right: 0;
    
}

.nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a, .nav > li > a:focus {
text-decoration: none;
background-color: lighten($navy, 10%);
}

.container {
    max-width: 750px;
}

@include respond-min($breakpoint-charlie) {
  body {
    font-family: 'Open Sans', sans-serif;
  }

  .section.header,
  .section.about,
  .section.blog {
    padding-left: 0;
    padding-right: 0;
  }

  .section.header {
    .brand {
      text-align: left;
    }
  }

  .section.footer {
    text-align: left;

    .copyright {
      text-align: right;
    }
  }
}
