@import "bootstrap/variables";

// Breakpoints
// -------------------------
$breakpoint-alpha: 400px;
$breakpoint-beta: 600px;
$breakpoint-charlie: 768px;
$breakpoint-delta: 1024px;

$white: #FFF;

$brand-primary:         #085DAD;
$navy: darken($brand-primary, 10%);

$font-family-sans-serif:  "Open Sans", sans-serif;

$font-size-base:          16px;

// Basics of a navbar
$navbar-height:                    30px;

$navbar-default-color:             #FFF;
$navbar-default-bg:                darken($navy, 5%);
$navbar-default-border:            darken($navbar-default-bg, 12%);

// Navbar links
$navbar-default-link-color:                #FFF;
$navbar-default-link-hover-color:          #FFF;
$navbar-default-link-hover-bg:             lighten($navy, 10%);
$navbar-default-link-active-color:         #FFF;
$navbar-default-link-active-bg:            lighten($navy, 10%);
