@import "variables";
@import "bootstrap";
@import "theme";
@import "events";

/* Landscape phones and down */
@media (max-width: 767px) {
  @import "responsive-small";
}

@media (max-width: 1005px) {
  .ribbon {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
}