%icon--large {
  display: block;
  width: 78px;
  height: 78px;
  background: transparent;
  border: 1px solid transparent;
  text-align: center;
  line-height: 78px;
  color: $brand-primary;
  font-size: 40px;
  margin: 0 auto;
  border-right: 1px dashed $brand-primary--light;
}