body {
  font-family: $base-font;
  font-weight: $base-font-weight;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
  line-height: $line-height-base;
  color: $color-body;
  background: white;
}

body a:focus,
body input:focus,
body textarea:focus,
body select:focus,
body button:focus,
body label[for]:focus {
  outline: 3px solid $focus-color;
  text-decoration: none;
}

address,
blockquote,
h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr,
.highlight,
.excerpt {
  font-style: normal;
  margin-top: 0;
  margin-bottom: $line-height-base;

  &:last-child {
    margin-bottom: 0;
  }
}

hr {
  border: none;
  color: white;
  height: 1px;
  background: $gray-lighter;
  margin: $spacing-xl 0 $spacing-l;
  clear: both;
}

strong {
  font-weight: 400;
}

.text-small {
  font-size: 85%;
}

.text--center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.margin-bottom {
  margin-bottom: 1em;
}