$white:                               white;
$gray-lighter:                        #eee;
$color-body:                          #333;

$color-grey-light:                    #f9f9f9;
$color-grey:                          #eee;
$color-grey-dark:                     #ddd;

$brand-primary:                       #085DAD;
$brand-primary--light:                lighten($brand-primary, 50%);
$navy:                                darken($brand-primary, 10%);

$color-blue:                          #156daa;
$color-green:                         #58a135;
$color-orange:                        #f58d32;
$color-red:                           #e12b28;

$base-font:                           'Roboto', Helvetica, Arial, sans-serif;
$base-font-weight:                    300;

$font-size-base:                      16px;
$line-height-base:                    1.5em;

// Basics of a navbar
$navbar-height:                       30px;
$navbar-default-color:                white;
$navbar-default-bg:                   darken($navy, 5%);
$navbar-default-border:               darken($navbar-default-bg, 12%);

// Navbar links
$navbar-default-link-color:           white;
$navbar-default-link-hover-color:     white;
$navbar-default-link-hover-bg:        lighten($navy, 10%);
$navbar-default-link-active-color:    white;
$navbar-default-link-active-bg:       lighten($navy, 10%);


$visited:                             #609;

$focus-color:                         #EABF36;

$spacing-xxl:                         60px;
$spacing-xl:                          50px;
$spacing-l:                           40px;
$spacing-m:                           30px;
$spacing-s:                           20px;
$spacing-xs:                          10px;

// Color for the stack
$stack-color--main:                   $brand-primary;

// Pagination variables
$pages-breakpoint1:                   $alpha;
$pages-breakpoint2:                   500px;
$pages-breakpoint3:                   $beta;

// Styling
$pages-clearfix:                      false;
$pages-margin:                        1em 0 2em;
$pages-item-active:                   $brand-primary;
$pages-item-link-color:               $brand-primary;
