---
layout: default
title: Features - Nooku
description:
---

<div class="section features">
    <div class="container">
        <h2>Nooku is different.</h2>
        <p class="subtitle">Our goal is to make it easier for developers to create more powerful custom extensions.</p>

        <div class="group">
            {% for feature in site.data.features.items %}
            <div class="media media--vertical">
                {% if feature.image %}
                <img src="/images/features/{{ feature.image }}">
                {% else %}
                <img src="http://placehold.it/1024x768">
                {% endif %}
                <h3>{{ feature.title }}</h3>
                <p>{{ feature.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
