{% include header.html %}

    <div class="section teaser text-center">
        <div class="container container-centered">
            <h1>Create web applications with less code</h1>
            <p class="lead">By drastically reducing the amount of code you need to write,
                Nooku helps you to create powerful web applications easily.
                Using the web technologies you know and love: <strong>PHP</strong>, <strong>HTML</strong>,
                <strong>CSS</strong>, and <strong>JavaScript</strong></p>
            <p class="brought-by">Brought to you by <a href="http://www.timble.net">Timble</a>.</p>
        </div>
    </div>

    {{ content }}

{% include footer.html %}