---
layout: compress
---

{% include header.html %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<div class="teaser upcoming_background teaser--jam">
    <div class="container">
        <h1>Nooku Jam 14</h1>
        <h2>29 & 30 October 2014 - Leuven, BE</h2>
        <p>Unconference event focussed on Nooku Framework 2.0.</p>
    </div>
</div>

<div class="container container--content">
    {{ content }}
</div>

{% include trusted.html %}

{% include footer.html %}