---
layout: compress
---

{% include header.html %}

<div class="container container--narrow blog container--content blogpost" id="content" tabindex="-1">
    <article>
        <header>
            <h1 class="blog__header">
                {{ page.title }}
            </h1>
            <p class="post_date">
                {{ page.date | date: "%d %B %Y"}} by {{ page.author }}
            </p>
        </header>

        {% if page.image %}
        <img class="blog__image" src="{{ page.image }}" alt="{% if page.image-alt %}{{ page.image-alt }}{% else %}Decorative image{% endif %}" />
        {% endif %}

        {{ content }}
    </article>
</div>

{% include footer.html %}